Repository rtaormina/waterwatch: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_image, lint, backend_unit_tests

.gitlab-ci.yml:

workflow:
 rules:
   - if: $CI_PIPELINE_SOURCE == "merge_request_event"
     when: always

stages:
 - build_image
 - lint
 - test

# Build Docker Image
build_image:
  stage: build_image
  image: docker:latest
  services: 
    - docker:dind
  # Only if requirements files changed
  rules:
    - changes:
        - requirements/**/*
  # Log in to Docker registry and build the image
  script:
    - echo $CI_REGISTRY_PASSWORD | docker login -u $CI_REGISTRY_USER --password-stdin $CI_REGISTRY
    - docker build -t $CI_REGISTRY_IMAGE:v0.1 .
    - docker push $CI_REGISTRY_IMAGE:v0.1


# Linting & Formatting
lint:
 stage: lint
 image: $CI_REGISTRY_IMAGE:v0.1
 script:
   - ruff format
   - ruff check
   - python backend/manage.py check
 # Run only if files in folder backend changed
 rules:
   - changes:
       - backend/**/*

# Unit Tests - Backend
backend_unit_tests:
 stage: test
 image: $CI_REGISTRY_IMAGE:v0.1
 script:
   - python backend/manage.py test
 # Run only if files in folder backend changed
 rules:
   - changes:
       - backend/**/*

add docstring to api module
  backend/api/admin.py
  backend/api/apps.py
  backend/api/models.py
  backend/api/tests.py
  backend/api/urls.py
  backend/api/views.py
  backend/backend/settings.py
  backend/backend/urls.py
Due: lint, backend_unit_tests

removed dependency of dev-requirements
  requirements/dev-requirements.txt
Due: build_image

Fix ruff checks, modify pipeline to build in more cases, add named volumes instead of explicit local database, modify README
  .gitlab-ci.yml
  Dockerfile
  backend/api/admin.py
  backend/api/apps.py
  backend/api/models.py
  backend/api/tests.py
  backend/api/urls.py
  backend/api/views.py
  backend/backend/settings.py
  backend/backend/urls.py
  backend/measurements/migrations/0002_temperature_measurement_alter_measurement_user.py
  docker-compose.yaml
  frontend/package-lock.json
  requirements/packages.txt
Due: build_image, lint, backend_unit_tests

updated docker file to install gdal
  Dockerfile
  backend/backend/settings.py
Due: lint, backend_unit_tests

updated docker base image
  Dockerfile
Due: none

Change docker image dependencies, update README
  Dockerfile
  README.md
  requirements/packages.txt
Due: build_image

Remove redundant commands in Dockerfile
  Dockerfile
Due: none

Update dependencies
  requirements/requirements.txt
Due: build_image

add environment configuration, update Dockerfile, and enhance docker-compose setup
  .env.example
  Dockerfile
  backend/backend/settings.py
  backend/measurements/models.py
  backend/requirements.txt
  docker-compose.yaml
Due: lint, backend_unit_tests

fix conflicts
  README.md
  requirements/packages.txt
  requirements/requirements.txt
Due: build_image

merge branches
  backend/api/admin.py
  backend/api/apps.py
  backend/api/models.py
  backend/api/urls.py
Due: lint, backend_unit_tests

add frontend to docker image and use nginx to proxy between vue and django api
  backend/backend/urls.py
  docker-compose.yaml
  frontend/.dockerignore
  frontend/dockerfile
  frontend/nginx.conf
  frontend/src/components/LoginComponent.vue
  frontend/src/views/HomeView.vue
Due: lint, backend_unit_tests

add hotbuilding frontend into the compose file
  README.md
  backend/backend/settings.py
  docker-compose.yaml
Due: lint, backend_unit_tests

add pgadmin to docker compose
  docker-compose.yaml
Due: none

Add pre-commit, and update the pipeline to use ruff image for ruff linting
  .env.example
  .gitignore
  .gitlab-ci.yml
  .gitlab/merge_request_templates/mrtemplate.md
  .pre-commit-config.yaml
  backend/api/tests.py
  backend/requirements.txt
  docker-compose.yaml
  docs/api_specs.md
  docs/backend.md
  docs/campaigns.md
  docs/index.md
  docs/measurement_analysis.md
  docs/measurement_export.md
  docs/measurements.md
  docs/modules.md
  frontend/.dockerignore
  frontend/public/vite.svg
  frontend/src/App.vue
  frontend/src/assets/vue.svg
  frontend/src/components/LoginComponent.vue
  frontend/src/index.css
  frontend/src/main.ts
  frontend/src/router/index.js
  frontend/src/views/HomeView.vue
  frontend/src/vite-env.d.ts
  frontend/tailwind.config.js
  frontend/tests-examples/demo-todo-app.spec.ts
  frontend/tsconfig.app.json
  frontend/vite.config.ts
  pyproject.toml
  requirements/dev-requirements.txt
  requirements/requirements.txt
Due: build_image, lint, backend_unit_tests

add pre-commit to contributing part of README
  README.md
Due: none

Format admin panel for campaigns, add GIS to installed app list
  backend/backend/settings.py
  backend/campaigns/admin.py
  backend/campaigns/models.py
Due: lint, backend_unit_tests

Setup frontend pipeline, create dockerfile for frontend, configure frontend testing frameworks
  .gitlab-ci-local/.gitignore
  .gitlab-ci.yml
  docker-compose.yaml
  dockerfile.backend
  dockerfile.frontend
  frontend/tests/e2e/example.spec.ts
  frontend/tests/unit/unit-example.spec.ts
  frontend/vitest.config.js
Due: none

Fix build issue in docker compose
  .gitlab-ci-local/.gitignore
  docker-compose.yaml
Due: none

add custom colors to use for tailwind
  frontend/src/components/MeasurementComponent.vue
  frontend/src/index.css
Due: none

Refactor Docker setup: update frontend service configuration, remove old Dockerfile, and add nginx configuration for proxying
  docker-compose.yaml
  frontend/dockerfile
  frontend/package.json
  nginx.conf
Due: none

change base path in Vite config
  frontend/vite.config.ts
  nginx.conf
Due: none

Remove migrations, add admin panel for measurements and temperatures
  .gitignore
  backend/campaigns/migrations/0001_initial.py
  backend/campaigns/migrations/__init__.py
  backend/measurement_analysis/migrations/__init__.py
  backend/measurement_collection/migrations/__init__.py
  backend/measurement_export/migrations/__init__.py
  backend/measurements/admin.py
  backend/measurements/migrations/0001_initial.py
  backend/measurements/migrations/0002_temperature_measurement_alter_measurement_user.py
  backend/measurements/migrations/__init__.py
  backend/measurements/models.py
Due: lint, backend_unit_tests

Update Measurement model and refactor Temperature model for metrics with oneToOneRelationships. Update requirements.txt dependencies
  backend/backend/settings.py
  backend/measurements/models.py
  backend/requirements.txt
  requirements/requirements.txt
Due: build_image, lint, backend_unit_tests

update pipeline
  .gitlab-ci.yml
Due: none

modified serialization to be compatible with new models, added frontend input validation and initial test file
  .gitignore
  backend/measurement_collection/serializers.py
  backend/measurement_collection/views.py
  backend/measurements/models.py
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/MeasurementComponent.vue
  frontend/tests/unit/measurement-component.spec.ts
  frontend/vite.config.ts
Due: lint, backend_unit_tests

Add logging configuration to settings for better debugging and monitoring
  backend/backend/settings.py
Due: lint, backend_unit_tests

Downgrade djangorestframework from 3.16.0 to 3.15.0 for compatibility
  requirements/requirements.txt
Due: build_image

Fix frontend test scripts by adding directory change before execution
  .gitlab-ci.yml
Due: none

Add directory for debug logs
  backend/logs/.gitkeep
Due: lint, backend_unit_tests

Add logging configuration and create log files for debugging
  .env.example
  backend/backend/settings.py
  backend/logs/.gitkeep
  backend/logs/debug.log
  backend/logs/info.log
Due: lint, backend_unit_tests

Update frontend Docker and dependencies
  docker-compose.yaml
  frontend/package-lock.json
  frontend/package.json
  frontend/playwright.config.ts
Due: none

Refactor GitLab CI configuration by removing frontend image build and adjusting frontend test stages
  .gitlab-ci.yml
Due: none

Refactor frontend test configuration using YAML anchors
  .gitlab-ci.yml
Due: none

added tests, refactored code to composables and refined logic for form validation
  frontend/src/components/MeasurementComponent.vue
  frontend/src/composables/MeasurementCollectionLogic.ts
  frontend/tests/unit/measurement-component.spec.ts
  package-lock.json
  package.json
Due: none

Refactor models and admin view. Add validation for Measurements. Modify gitignore and ruff configuration
  .gitignore
  backend/backend/settings.py
  backend/measurements/admin.py
  backend/measurements/models.py
  pyproject.toml
Due: lint, backend_unit_tests

Create tests for Temperatures
  backend/measurements/tests.py
  backend/measurements/tests/__init__.py
  backend/measurements/tests/tests_temperature.py
Due: lint, backend_unit_tests

cleanup and removing files in the wrong place
  package-lock.json
  package.json
Due: none

modified location selection to allow extension of manual selection, removed default vue icons
  frontend/src/App.vue
  frontend/src/components/MeasurementComponent.vue
  frontend/src/composables/MeasurementCollectionLogic.ts
Due: none
