Repository rtaormina/waterwatch: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_backend_image, build_frontend_image, lint_backend, lint_frontend, backend_unit_tests, frontend_unit_tests

Path conditions:
  build_backend_image: any of: requirements/**/*, dockerfile.backend
  build_frontend_image: any of: frontend/package.json, frontend/package-lock.json, dockerfile.frontend
  lint_backend: any of: backend/**/*
  lint_frontend: any of: frontend/**/*
  backend_unit_tests: any of: backend/**/*
  frontend_unit_tests: any of: frontend/**/*

remove readme from frontend
  frontend/README.md
Due: lint_frontend, frontend_unit_tests

refactor docs folder
  docs/README.md
  docs/api_specs/WATERWATCH_API.yaml
  docs/api_specs/admin_api.md
  docs/api_specs/api_specs.md
  docs/api_specs/campaigns_api.md
  docs/api_specs/measurements_api.md
  docs/api_specs/users_api.md
  docs/development/contribution_guide.md
  docs/development/development.md
  docs/development/frontend_docs.md
  docs/development/installation.md
  docs/development/troubleshooting.md
  docs/diagrams/architecture.md
  docs/diagrams/diagrams.md
  docs/diagrams/schema.md
  docs/e2e_testing/e2e_test.md
  docs/index.md
  docs/load_testing/load_test.md
  docs/manual_testing/manual_test.md
  docs/vue-views/modules.md
  docs/vue-views/src/views/ContactView.md
Due: none

fix text tabs to use slots and template
  frontend/src/views/AboutView.vue
Due: lint_frontend, frontend_unit_tests

set default open tabs on about and tutorial page, add start to app tutorial
  frontend/src/locales/en.json
  frontend/src/views/AboutView.vue
  frontend/src/views/TutorialView.vue
Due: lint_frontend, frontend_unit_tests

Styling changes to legend
  frontend/src/components/Legend.vue
Due: lint_frontend, frontend_unit_tests

Refresh color scale, so map is recolored with right scale. Fix coloring formula
  frontend/src/components/HexMap.vue
Due: lint_frontend, frontend_unit_tests

Make mapview update scale as well
  frontend/src/views/MapView.vue
Due: lint_frontend, frontend_unit_tests

Make legend update scale, remove turning props into local variables
  frontend/src/components/Legend.vue
Due: lint_frontend, frontend_unit_tests

add initial time filtering functionality for measurements
  backend/measurement_analysis/views.py
  frontend/src/components/Legend.vue
  frontend/src/views/MapView.vue
Due: lint_backend, lint_frontend, backend_unit_tests, frontend_unit_tests

Update legend tests to reflect changes in component
  frontend/tests/unit/ComponentTests/MapComponents/LegendComponentTest.spec.ts
Due: lint_frontend, frontend_unit_tests

add test for aggregation endpoint
  backend/measurement_analysis/tests/tests_measurement_aggregation.py
Due: lint_backend, backend_unit_tests

Add test for scale update
  frontend/tests/unit/ComponentTests/MapComponents/LegendComponentTest.spec.ts
Due: lint_frontend, frontend_unit_tests

move options above component so they are visible
  frontend/src/components/Legend.vue
Due: lint_frontend, frontend_unit_tests

Fix bug in calculating measurement count
  frontend/src/components/HexMap.vue
Due: lint_frontend, frontend_unit_tests

Add strategy to export in a format that is visualizable on a hexmap
  backend/measurement_export/factories.py
  backend/measurement_export/strategies.py
  backend/measurement_export/views.py
Due: lint_backend, backend_unit_tests

Add pinia dependency and make our app use it
  frontend/package-lock.json
  frontend/package.json
  frontend/src/main.ts
Due: build_frontend_image, lint_frontend, frontend_unit_tests

Create new page for visualizing exported data on map and add it to router
  frontend/src/router/index.ts
  frontend/src/views/ExportMapView.vue
Due: lint_frontend, frontend_unit_tests

Add store to save state of the application, add state restore functionality
  frontend/src/composables/Export/useSearch.ts
  frontend/src/stores/ExportStore.ts
  frontend/src/views/ExportView.vue
Due: lint_frontend, frontend_unit_tests

Add button to be able to visualize export data on map
  frontend/src/components/Export/FilterPanelComponent.vue
  frontend/src/components/Export/SearchResultsComponent.vue
Due: lint_frontend, frontend_unit_tests

make multi-selection of months possible for time range, improve endpoint tests
  backend/measurement_analysis/tests/tests_measurement_aggregation.py
  backend/measurement_analysis/views.py
  frontend/src/components/Legend.vue
  frontend/src/views/MapView.vue
Due: lint_backend, lint_frontend, backend_unit_tests, frontend_unit_tests

update legend tests to included new functionalities
  frontend/tests/unit/ComponentTests/MapComponents/LegendComponentTest.spec.ts
Due: lint_frontend, frontend_unit_tests

clarify test names for legend
  frontend/tests/unit/ComponentTests/MapComponents/LegendComponentTest.spec.ts
Due: lint_frontend, frontend_unit_tests

fix issue with multiselect of months, modify tests
  frontend/src/components/Legend.vue
  frontend/tests/unit/ComponentTests/MapComponents/LegendComponentTest.spec.ts
Due: lint_frontend, frontend_unit_tests

remove extraneous console.logs
  frontend/src/components/Legend.vue
Due: lint_frontend, frontend_unit_tests

fix failing test
  backend/measurement_analysis/tests/tests_measurement_aggregation.py
Due: lint_backend, backend_unit_tests

add single options button that expands to additional buttons for analysis and tooltips for all map buttons
  frontend/src/components/Legend.vue
  frontend/src/views/MapView.vue
Due: lint_frontend, frontend_unit_tests

style adjustments in login page and tutorial page
  frontend/src/components/LoginComponent.vue
  frontend/src/views/TutorialView.vue
Due: lint_frontend, frontend_unit_tests

Fix documentation for running performance tests
  README.md
  docs/development/contribution_guide.md
  docs/load_testing/load_test.md
Due: none

Add indices to models
  backend/campaigns/models.py
  backend/measurement_export/models.py
  backend/measurements/models.py
Due: lint_backend, backend_unit_tests

Add loading to export view
  frontend/src/components/Export/SearchResultsComponent.vue
  frontend/src/components/LoginComponent.vue
  frontend/src/composables/Export/useSearch.ts
  frontend/src/views/ExportView.vue
Due: lint_frontend, frontend_unit_tests

Fix indexing of models
  assets/countries_2.sql
  backend/campaigns/migrations/0002_campaign_campaigns_c_region_16212e_idx_and_more.py
  backend/campaigns/models.py
  backend/measurement_export/models.py
  backend/measurements/migrations/0009_measurement_measurement_locatio_4f5333_idx_and_more.py
  backend/measurements/models.py
Due: lint_backend, backend_unit_tests

Fix scripts for caching geometry
  scripts/setup.sh
  scripts/test-reset-db.sh
  scripts/test-setup.sh
Due: none

Style fixes, make title reactive to selected mode
  frontend/src/components/Legend.vue
Due: lint_frontend, frontend_unit_tests

Swap button order in results component
  frontend/src/components/Export/SearchResultsComponent.vue
Due: lint_frontend, frontend_unit_tests

Make filter panel only save filters if you come from ExportMap
  frontend/src/components/Export/FilterPanelComponent.vue
  frontend/src/views/ExportMapView.vue
  frontend/src/views/ExportView.vue
Due: lint_frontend, frontend_unit_tests

Adjust tests so they reflect the state of the application
  frontend/tests/unit/ComponentTests/ExportComponents/FilterPanelComponent.spec.ts
Due: lint_frontend, frontend_unit_tests

Adjust lower bound labels in meausrement count mode, and related tests
  frontend/src/components/Legend.vue
  frontend/tests/unit/ComponentTests/MapComponents/LegendComponentTest.spec.ts
Due: lint_frontend, frontend_unit_tests

move global analysis to options
  frontend/src/views/MapView.vue
Due: lint_frontend, frontend_unit_tests

Fix caching; optimize measurement export backend
  backend/measurement_export/serializers.py
  backend/measurement_export/strategies.py
  backend/measurement_export/utils.py
  backend/measurement_export/views.py
  scripts/setup.sh
  scripts/test-reset-db.sh
  scripts/test-setup.sh
Due: lint_backend, backend_unit_tests

Fix missing endpoint for only temperature values
  backend/measurements/urls.py
  backend/measurements/views.py
  frontend/src/components/Analysis/DataAnalyticsComponent.vue
  frontend/src/composables/Analysis/DataVisualizationLogic.ts
  frontend/tests/unit/ComponentTests/DataAnalyticsComponent/DataAnalytics.spec.ts
  frontend/tests/unit/ComposableTests/DataVisualizationLogic.spec.ts
Due: lint_backend, lint_frontend, backend_unit_tests, frontend_unit_tests
