Repository rtaormina/waterwatch: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_backend_image, build_frontend_image, lint_backend, lint_frontend, backend_unit_tests, frontend_unit_tests

build_backend_image:
  stage: build_images
  image: docker:latest
  services:
  - docker:dind
  script:
  - echo $CI_REGISTRY_PASSWORD | docker login -u $CI_REGISTRY_USER --password-stdin $CI_REGISTRY
  - docker build -f dockerfile.backend -t $CI_REGISTRY_IMAGE:v0.2-backend .
  - docker push $CI_REGISTRY_IMAGE:v0.2-backend

build_frontend_image:
  stage: build_images
  image: docker:latest
  services:
  - docker:dind
  script:
  - echo $CI_REGISTRY_PASSWORD | docker login -u $CI_REGISTRY_USER --password-stdin $CI_REGISTRY
  - docker build -f dockerfile.frontend -t $CI_REGISTRY_IMAGE:v0.2-frontend .
  - docker push $CI_REGISTRY_IMAGE:v0.2-frontend

lint_backend:
  stage: linting
  image: ghcr.io/astral-sh/ruff:0.11.8-alpine
  script:
  - ruff check
  - ruff format --diff

lint_frontend:
  image: $CI_REGISTRY_IMAGE:v0.2-frontend
  before_script:
  - cd frontend
  - ln -s /dependencies/node_modules ./node_modules
  - cp /dependencies/package-lock.json ./
  stage: linting
  script:
  - npm run lint

backend_unit_tests:
  services:
  - name: postgis/postgis:latest
    alias: postgis
  variables:
    POSTGRES_DB: postgis
    POSTGRES_USER: postgueser
    POSTGRES_PASSWORD: shouldbesecret
    POSTGRES_HOST: postgis
    POSTGRES_HOST_AUTH_METHOD: trust
    POSTGRES_PORT: 5432
  stage: testing
  image: $CI_REGISTRY_IMAGE:v0.2-backend
  script:
  ...

frontend_unit_tests:
  image: $CI_REGISTRY_IMAGE:v0.2-frontend
  before_script:
  - cd frontend
  - ln -s /dependencies/node_modules ./node_modules
  - cp /dependencies/package-lock.json ./
  stage: testing
  script:
  - npm run test:coverage
  coverage: /All files(?:[^|]*\|){4}\s*(\S+)/
  artifacts:
    expire_in: 3 days
    reports:
  ...

Update data analytics component in ExportMapView
  frontend/src/views/ExportMapView.vue
Due: lint_frontend, frontend_unit_tests

Add capitalisation
  frontend/src/locales/nl.json
Due: lint_frontend, frontend_unit_tests

Make data analytics component use dedicated endpoint from export page
  frontend/src/components/Analysis/DataAnalyticsComponent.vue
  frontend/src/composables/Analysis/DataVisualizationLogic.ts
Due: lint_frontend, frontend_unit_tests

reformat load testing section of documentation and fix broken contact view link
  docs/development/installation.md
  docs/load_testing/index.md
  docs/load_testing/load-test/index.md
  docs/load_testing/load_test.md
  docs/load_testing/performance-test/attachments/pt-export-001-1.png
  docs/load_testing/performance-test/attachments/pt-export-001-2.png
  docs/load_testing/performance-test/attachments/pt-export-002-1.png
  docs/load_testing/performance-test/index.md
  docs/load_testing/performance-test/pt-export-001.md
  docs/load_testing/performance-test/pt-export-002.md
  docs/load_testing/performance-test/pt-multiple-001.md
  docs/load_testing/stress-test/index.md
  docs/load_testing/stress-test/st-analytics-001.md
  docs/load_testing/stress-test/st-login-001.md
  docs/manual_testing/index.md
  frontend/src/views/ContactView.vue
Due: lint_frontend, frontend_unit_tests

fix: update 404 handling in PageNotFound and Nginx configurations
  frontend/src/views/PageNotFound.vue
  nginx.conf
  production/production.nginx
Due: lint_frontend, frontend_unit_tests

remove unnecessary has history variable
  frontend/src/views/PageNotFound.vue
Due: lint_frontend, frontend_unit_tests

remove unused has_history variable from PageNotFound component
  frontend/src/views/PageNotFound.vue
Due: lint_frontend, frontend_unit_tests

Give redis container name, fix packages
  docker-compose.test.yaml
  docker-compose.yaml
  frontend/package-lock.json
  production/docker-compose.prod.stack.yaml
  production/docker-compose.prod.yaml
Due: build_frontend_image, lint_frontend, frontend_unit_tests

Changes measurement views to properly filter and cache by month and boundary geometry
  backend/locustfile.py
  backend/measurement_analysis/views.py
  backend/measurement_collection/views.py
  backend/measurement_export/views.py
  backend/measurements/views.py
Due: lint_backend, backend_unit_tests

Adjust frontend requests for changed API
  frontend/src/components/Analysis/DataAnalyticsCompare.vue
  frontend/src/components/Analysis/DataAnalyticsComponent.vue
  frontend/src/composables/Analysis/DataVisualizationLogic.ts
  frontend/src/views/MapView.vue
  frontend/tests/unit/ComponentTests/DataAnalyticsComponent/DataAnalytics.spec.ts
  frontend/tests/unit/ComponentTests/DataAnalyticsComponent/DataCompare.spec.ts
  frontend/tests/unit/ComposableTests/DataVisualizationLogic.spec.ts
Due: lint_frontend, frontend_unit_tests

Test changed measurement views
  backend/measurement_analysis/serializers.py
  backend/measurement_analysis/tests/tests_measurement_aggregation.py
  backend/measurement_export/signals.py
  backend/measurement_export/tests/tests_export_utils.py
  backend/measurement_export/tests/tests_export_views.py
  backend/measurements/tests/tests_views.py
Due: lint_backend, backend_unit_tests

Add docs for load testing
  docs/load_testing/attachments/pt-multiple-001-1.png
  docs/load_testing/attachments/pt-multiple-001-2.png
  docs/load_testing/attachments/st_analytics_001-1.png
  docs/load_testing/pt-multiple-001.md
  docs/load_testing/st-analytics-001.md
  scripts/test-reset-db.sh
Due: none

fix: update static and media file paths to include /api prefix
  backend/backend/settings.py
  nginx.conf
  production/production.nginx
Due: lint_backend, backend_unit_tests

Attempt to fix psycopg error in gitlab
  requirements/requirements.txt
Due: build_backend_image

Attempt to fix psycopg error in gitlab by changing pipeline
  .gitlab-ci.yml
Due: none

Add redis to backend test pipeline
  .gitlab-ci.yml
Due: none

fix typo
  docs/manual_testing/analysis/tc-analysis-003.md
Due: none

Re-add django timezone to env
  production/.env.sample
Due: none

Add new strategy for analysis on the export map page
  backend/measurement_export/factories.py
  backend/measurement_export/strategies.py
  backend/measurement_export/views.py
Due: lint_backend, backend_unit_tests

Make export map page's analysis graphs show correct data
  frontend/src/components/Analysis/DataAnalyticsComponent.vue
  frontend/src/composables/Analysis/DataVisualizationLogic.ts
Due: lint_frontend, frontend_unit_tests

Fix clearing selection with new month selection
  frontend/src/components/HexMap.vue
Due: lint_frontend, frontend_unit_tests

Fix clearing selection when dataset in hexagon does not actually change
  frontend/src/components/HexMap.vue
Due: lint_frontend, frontend_unit_tests

Delete unnecessary files and comments in backend
  backend/measurement_analysis/admin.py
  backend/measurement_analysis/models.py
  backend/measurement_collection/admin.py
  backend/measurement_collection/models.py
  backend/measurements/metrics.py
Due: lint_backend, backend_unit_tests

Add deployment documentation and update Docker configurations
  docs/development/deployment.md
  docs/index.md
  production/docker-compose.prod.stack.yaml
  production/docker-compose.prod.yaml
  production/favicon.svg
  production/production.nginx
  production/setup.sh
Due: none

Make graphs show correct data on Map Export Page
  frontend/src/components/Analysis/DataAnalyticsComponent.vue
  frontend/src/composables/Analysis/DataVisualizationLogic.ts
  frontend/src/views/ExportMapView.vue
  frontend/src/views/ExportView.vue
Due: lint_frontend, frontend_unit_tests

Make legend filtering work on Export Map Page
  frontend/src/views/ExportMapView.vue
Due: lint_frontend, frontend_unit_tests

update favicon location
  production/production.nginx
Due: none

Make tests pass with modified components
  frontend/src/components/Analysis/DataAnalyticsComponent.vue
  frontend/tests/unit/ComponentTests/DataAnalyticsComponent/DataAnalytics.spec.ts
  frontend/tests/unit/ComposableTests/MeasurementExportLogicTests.spec.ts
Due: lint_frontend, frontend_unit_tests

Add Pinia to MapView tests
  frontend/tests/unit/ViewTests/MapViewTest.spec.ts
Due: lint_frontend, frontend_unit_tests

small darkmode updates
  frontend/src/components/Analysis/SelectBar.vue
  frontend/src/components/CampaignBannerComponent.vue
  frontend/src/components/Export/SearchBarComponent.vue
  frontend/src/components/Export/SearchResultsComponent.vue
  frontend/src/components/Legend.vue
  frontend/src/components/LoginComponent.vue
  frontend/src/components/MapMenu.vue
  frontend/src/components/NavBar.vue
  frontend/src/index.css
  frontend/src/views/MapView.vue
Due: lint_frontend, frontend_unit_tests

Fix postgres commands
  production/docker-compose.prod.stack.yaml
  production/docker-compose.prod.yaml
  production/setup.sh
Due: none

Apply 15 suggestion(s) to 1 file(s)
  docs/development/deployment.md
Due: none

Fix typos and improve clarity in deployment documentation
  docs/development/deployment.md
Due: none

Revert "Fix typos and improve clarity in deployment documentation"
  docs/development/deployment.md
Due: none

Revert "Apply 15 suggestion(s) to 1 file(s)"
  docs/development/deployment.md
Due: none

Path conditions:
  build_backend_image: any of: requirements/**/*, dockerfile.backend
  build_frontend_image: any of: frontend/package.json, frontend/package-lock.json, dockerfile.frontend
  lint_backend: any of: backend/**/*
  lint_frontend: any of: frontend/**/*
  backend_unit_tests: any of: backend/**/*
  frontend_unit_tests: any of: frontend/**/*
