Repository rtaormina/waterwatch: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_backend_image, build_frontend_image, lint_backend, lint_frontend, backend_unit_tests, frontend_unit_tests

Path conditions:
  build_backend_image: any of: requirements/**/*, dockerfile.backend
  build_frontend_image: any of: frontend/package.json, frontend/package-lock.json, dockerfile.frontend
  lint_backend: any of: backend/**/*
  lint_frontend: any of: frontend/**/*
  backend_unit_tests: any of: backend/**/*
  frontend_unit_tests: any of: frontend/**/*

Update import path for MenuButton component
  frontend/src/views/ExportMapView.vue
Due: lint_frontend, frontend_unit_tests

Remove quotation marks from environment variables, make backend production depend on healthy postgres, add restart to redis containers
  .env.example
  docker-compose.test.yaml
  docker-compose.yaml
  production/.env.sample
  production/docker-compose.prod.stack.yaml
Due: none

Update django_backend_app to depend on postgres service directly
  production/docker-compose.prod.stack.yaml
Due: none

Refactor PostgreSQL configuration management: remove environment variables and apply settings directly in docker-compose
  production/.env.sample
  production/docker-compose.prod.stack.yaml
  production/setup.sh
Due: none

Fix clearing cache when measurement is added
  backend/measurement_collection/views.py
Due: lint_backend, backend_unit_tests

Make API require metric when adding measurement
  backend/measurement_analysis/views.py
  backend/measurement_collection/views.py
  frontend/tests/e2e/measurement-export.spec.ts
Due: lint_backend, lint_frontend, backend_unit_tests, frontend_unit_tests

fix clear function and clear errors when data is cleared from add measurement page
  frontend/src/components/Measurement/MeasurementBlock.vue
  frontend/src/components/Measurement/TemperatureMetric.vue
  frontend/src/components/MeasurementComponent.vue
Due: lint_frontend, frontend_unit_tests

fix formatting for MeasurementComponent and Block files
  frontend/src/components/Measurement/MeasurementBlock.vue
  frontend/src/components/MeasurementComponent.vue
Due: lint_frontend, frontend_unit_tests

Fix flaky backend unit test, align fields properly in temperature addition
  backend/measurement_export/tests/tests_export_utils.py
  frontend/src/components/Measurement/DurationInput.vue
  frontend/src/components/Measurement/TemperatureMetric.vue
Due: lint_backend, lint_frontend, backend_unit_tests, frontend_unit_tests

Fix views on mobile view
  frontend/package-lock.json
  frontend/src/components/ErrorPage.vue
  frontend/src/components/Measurement/DurationInput.vue
  frontend/src/components/Measurement/TemperatureMetric.vue
  frontend/src/views/PageNotFound.vue
Due: build_frontend_image, lint_frontend, frontend_unit_tests

Refactor SelectBar, remove ComparisonBar, and make MapView use the refactored components
  frontend/src/components/Analysis/ComparisonBar.vue
  frontend/src/components/Analysis/SelectBar.vue
  frontend/src/views/MapView.vue
Due: lint_frontend, frontend_unit_tests

Remove redundant prop from MapMenu
  frontend/src/components/Menu/MapMenu.vue
  frontend/src/views/ExportMapView.vue
  frontend/src/views/MapView.vue
Due: lint_frontend, frontend_unit_tests

Select world by default when making a campaign
  backend/campaigns/admin.py
Due: lint_backend, backend_unit_tests

Remove unused hex count variables and update comparison logic in MapView
  frontend/src/views/MapView.vue
Due: lint_frontend, frontend_unit_tests

add to test
  frontend/src/views/MapView.vue
  frontend/tests/e2e/map-flows.spec.ts
Due: lint_frontend, frontend_unit_tests

added translation for mobile app usage
  frontend/src/locales/nl.json
Due: lint_frontend, frontend_unit_tests

Make filter panel search when all filters are set
  frontend/src/views/ExportView.vue
Due: lint_frontend, frontend_unit_tests

Refactor deployment scripts to use environment variables
  production/deploy.sh
  production/docker-compose.prod.stack.yaml
  production/setup.sh
Due: none

Move SelectBar to Menu fodler
  frontend/src/components/Menu/SelectBar.vue
  frontend/src/views/ExportMapView.vue
  frontend/src/views/MapView.vue
Due: lint_frontend, frontend_unit_tests

add privacy policy in about page
  frontend/src/views/AboutView.vue
Due: lint_frontend, frontend_unit_tests

Remove redundant comparePhaseString ref
  frontend/src/views/MapView.vue
Due: lint_frontend, frontend_unit_tests

Remove redundant ref, regroup refs for readability
  frontend/src/components/HexMap.vue
  frontend/src/views/MapView.vue
Due: lint_frontend, frontend_unit_tests

Set fromExport prop to true for DataAnalyticsComponent and SideBar
  frontend/src/views/ExportMapView.vue
Due: lint_frontend, frontend_unit_tests

Organize imports in MapView
  frontend/src/views/MapView.vue
Due: lint_frontend, frontend_unit_tests

Make ExportMapView use refactored elements as well, improve readibility
  frontend/src/views/ExportMapView.vue
  frontend/src/views/MapView.vue
Due: lint_frontend, frontend_unit_tests

Remove test file for non-existent component
  frontend/tests/unit/ComponentTests/DataAnalyticsComponent/DataSelect.spec.ts
Due: lint_frontend, frontend_unit_tests

E2E for adding a measurement
  frontend/src/components/MeasurementComponent.vue
  frontend/src/views/MapView.vue
  frontend/tests/e2e/add-measurement.spec.ts
  frontend/tests/e2e/utils.ts
Due: lint_frontend, frontend_unit_tests

Fix button text in phase 2 of compare mode
  frontend/src/views/ExportMapView.vue
  frontend/src/views/MapView.vue
Due: lint_frontend, frontend_unit_tests

Fix default value for months in ExportMapView
  frontend/src/views/ExportMapView.vue
Due: lint_frontend, frontend_unit_tests

Fix e2e tests
  frontend/src/components/MenuItems/MenuButton.vue
  frontend/src/components/MenuItems/SideBar.vue
  frontend/src/views/ExportMapView.vue
  frontend/src/views/MapView.vue
  frontend/tests/e2e/map-analysis.spec.ts
Due: lint_frontend, frontend_unit_tests

Change map to a physical one without borders
  docs/ts/LocationFallback/README.md
  docs/ts/LocationFallback/functions/createMapLayer.md
  docs/ts/LocationFallback/functions/createOSMLayer.md
  frontend/src/components/HexMap.vue
  frontend/src/composables/LocationFallback.ts
Due: lint_frontend, frontend_unit_tests

Enhance PostgreSQL configuration in setup script and .env.sample by adding TCP_KEEPALIVES_IDLE
  production/.env.sample
  production/setup.sh
Due: none

Orgnanized error pages, add docs for error pages, improve serialization for measurmeent collection
  backend/measurement_collection/serializers.py
  backend/measurement_collection/views.py
  docs/vue-views/modules.md
  docs/vue-views/src/views/Errors/PageNotFound.md
  docs/vue-views/src/views/Errors/UnauthenticatedView.md
  docs/vue-views/src/views/Errors/UnauthorizedView.md
  frontend/src/router/index.ts
  frontend/src/views/ErrorPages/PageNotFound.vue
  frontend/src/views/ErrorPages/UnauthenticatedView.vue
  frontend/src/views/ErrorPages/UnauthorizedView.vue
  frontend/tests/unit/ViewTests/PageNotFound.spec.ts
Due: lint_backend, lint_frontend, backend_unit_tests, frontend_unit_tests

Fix transitions between UI elements
  frontend/src/views/ExportMapView.vue
  frontend/src/views/MapView.vue
Due: lint_frontend, frontend_unit_tests

Start adding good and bad weather tests
  frontend/src/components/Measurement/TemperatureMetric.vue
  frontend/tests/e2e/add-measurement.spec.ts
Due: lint_frontend, frontend_unit_tests

Fix Legend being visible over sidebar on mobile
  frontend/src/views/ExportMapView.vue
  frontend/src/views/MapView.vue
Due: lint_frontend, frontend_unit_tests

make analytics graph take up entire width of sidebar
  frontend/src/components/Analysis/DataAnalyticsComponent.vue
Due: lint_frontend, frontend_unit_tests

Add more bad weather tests
  frontend/src/components/Measurement/TemperatureMetric.vue
  frontend/tests/e2e/add-measurement.spec.ts
Due: lint_frontend, frontend_unit_tests

Remove pooling and adjust nginx
  .env.example
  backend/backend/settings.py
  docker-compose.test.yaml
  docker-compose.yaml
  nginx.conf
  production/.env.sample
  production/docker-compose.prod.stack.yaml
  production/production.nginx
Due: lint_backend, backend_unit_tests

Fix failing e2e tests
  frontend/src/main.ts
  frontend/tests/e2e/map-analysis.spec.ts
Due: lint_frontend, frontend_unit_tests
