Repository rtaormina/waterwatch: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_backend_image, lint, backend_unit_tests, frontend_unit_tests

build_backend_image:
  stage: build_image
  image: docker:latest
  services:
  - docker:dind
  script:
  - echo $CI_REGISTRY_PASSWORD | docker login -u $CI_REGISTRY_USER --password-stdin $CI_REGISTRY
  - docker build -f dockerfile.backend -t $CI_REGISTRY_IMAGE:v0.1-backend .
  - docker push $CI_REGISTRY_IMAGE:v0.1-backend

lint:
  stage: lint
  image: ghcr.io/astral-sh/ruff:0.11.8-alpine
  script:
  - ruff check
  - ruff format --diff

backend_unit_tests:
  stage: testing
  image: $CI_REGISTRY_IMAGE:v0.1-backend
  script:
  - python -m coverage run --source='backend/' backend/manage.py test
  - python -m coverage report
  - python -m coverage xml
  coverage: /TOTAL.*\s+(\d+%)$/
  artifacts:
    expire_in: 1 week
    reports:
      coverage_report:
  ...

frontend_unit_tests:
  image: mcr.microsoft.com/playwright:v1.52.0-noble
  before_script:
  - cd frontend
  - npm ci
  stage: testing
  script:
  - npm run test:coverage
  coverage: /All files(?:[^|]*\|){4}\s*(\S+)/
  artifacts:
    expire_in: 1 week
    reports:
      coverage_report:
        coverage_format: cobertura
  ...

Add tests for useSearch, useFilters, and useExportData composables
  frontend/src/components/FilterPanelComponent.vue
  frontend/src/composables/useExportData.ts
  frontend/src/composables/useFilters.ts
  frontend/src/composables/useSearch.ts
  frontend/src/views/ExportView.vue
  frontend/tests/unit/measurement-export.spec.ts
Due: frontend_unit_tests

Add documentation to measurement export frontend
  frontend/package-lock.json
  frontend/src/components/FilterPanelComponent.vue
  frontend/src/components/SearchBarComponent.vue
  frontend/src/components/SearchResultsComponent.vue
  frontend/src/composables/useExportData.ts
  frontend/src/composables/useFilters.ts
  frontend/src/composables/useSearch.ts
  frontend/src/views/ExportView.vue
Due: frontend_unit_tests

add documentation to measurement export frontend; fix issue with router; change GET to POST request for search/export to allow for larger URI
  backend/logs/debug.log
  backend/measurement_collection/migrations/0001_initial.py
  backend/measurement_collection/serializers.py
  backend/measurement_export/serializers.py
  backend/measurement_export/views.py
  backend/measurements/metrics.py
  backend/measurements/urls.py
  backend/measurements/views.py
  frontend/src/composables/MeasurementCollectionLogic.ts
  frontend/src/composables/useExportData.ts
  frontend/src/composables/useSearch.ts
  frontend/src/router/index.ts
  frontend/src/vite-env.d.ts
  frontend/tests/unit/measurement-component.spec.ts
  frontend/tests/unit/measurement-export.spec.ts
  requirements/requirements.txt
Due: build_backend_image, lint, backend_unit_tests, frontend_unit_tests

Clear backend debug log
  backend/logs/debug.log
Due: lint, backend_unit_tests

Removing usePolling in frontend
  frontend/vite.config.ts
Due: frontend_unit_tests

Removed unused libraries
  backend/measurement_export/admin.py
  requirements/requirements.txt
Due: build_backend_image, lint, backend_unit_tests

Removed unused library in settings.py as well
  backend/backend/settings.py
Due: lint, backend_unit_tests

Removed pytz and replace with datetime
  backend/measurement_export/serializers.py
  requirements/requirements.txt
Due: build_backend_image, lint, backend_unit_tests

add initial manual testing cases
  docs/manual_testing/tc-admin-001
  docs/manual_testing/tc-collection-001.md
  docs/manual_testing/tc-export-001
  docs/manual_testing/tc-export-002
Due: none

add other water source choices in model and frontend
  backend/measurement_collection/migrations/0002_delete_testmetric.py
  backend/measurements/migrations/0008_alter_measurement_water_source.py
  backend/measurements/models.py
  frontend/src/components/MeasurementComponent.vue
Due: lint, backend_unit_tests, frontend_unit_tests

Add search functionality to filtering by country, sort countries alphabetically in dropdown, invert flag in export serializer
  backend/measurement_export/serializers.py
  frontend/src/components/FilterPanelComponent.vue
  frontend/src/composables/useFilters.ts
Due: lint, backend_unit_tests, frontend_unit_tests

Fix failing test because of sorting by name in measurement export
  frontend/tests/unit/measurement-export.spec.ts
Due: frontend_unit_tests

fix most failing backend tests
  backend/measurement_collection/tests/test_extra_metric_table.py
  backend/measurement_collection/tests/tests_measurement_collection.py
  backend/measurement_collection/tests/tests_serializers.py
  backend/measurement_export/tests/tests_measurement_export.py
  backend/measurement_export/tests/tests_serializers.py
  backend/measurement_export/views.py
  backend/measurements/tests/tests_measurement.py
Due: lint, backend_unit_tests

write export filtering tests
  backend/measurement_export/tests/tests_measurement_export.py
Due: lint, backend_unit_tests

initial manual tests
  docs/manual_testing/tc-admin-001
  docs/manual_testing/tc-collection-001.md
  docs/manual_testing/tc-export-001
Due: none

Update backend unit test coverage command and artifact expiration
  .gitlab-ci.yml
Due: build_backend_image

make backend test run
  backend/backend/settings.py
Due: lint, backend_unit_tests

add postGis service to backend pipeline test.
  .gitlab-ci.yml
Due: build_backend_image

use variables instead of envirionment to specify env settings.
  .gitlab-ci.yml
Due: build_backend_image

Update backend unit tests configuration with Postgres credentials
  .gitlab-ci.yml
Due: build_backend_image

added icons instead of image, reformat and disable scrollbars
  frontend/src/components/NavBar.vue
Due: frontend_unit_tests

update coverage to branch coverage and exclude unwanted files.
  .gitlab-ci.yml
Due: build_backend_image

complete export tc 002
  docs/manual_testing/tc-export-002
Due: none

refactor menu items
  frontend/src/components/NavBar.vue
Due: frontend_unit_tests

add manual test cases to documentation
  docs/manual_test.md
  docs/manual_testing/index.md
  docs/manual_testing/tc-admin-001.md
  docs/manual_testing/tc-export-001.md
  docs/manual_testing/tc-export-002.md
Due: none

add name and date to admin test
  docs/manual_testing/tc-admin-001.md
Due: none

add timestamp to serializer and send from frontend
  backend/measurement_collection/serializers.py
  frontend/src/composables/MeasurementCollectionLogic.ts
Due: lint, backend_unit_tests, frontend_unit_tests

Enhance Hexbin Layer and OSM Layer Configuration
  frontend/src/components/HexMap.vue
  frontend/src/composables/LocationFallback.ts
  frontend/src/views/MapView.vue
Due: frontend_unit_tests

fix close add measurement button
  frontend/src/components/MeasurementComponent.vue
  frontend/src/composables/MeasurementState.ts
  frontend/src/views/MapView.vue
Due: frontend_unit_tests

add navbar to appview
  frontend/src/App.vue
  frontend/src/components/LoginComponent.vue
  frontend/src/components/NavBar.vue
  frontend/src/views/AboutView.vue
  frontend/src/views/ExportView.vue
  frontend/src/views/MapView.vue
  frontend/src/views/TutorialView.vue
Due: frontend_unit_tests

fix adding measurement inputs and modify tests, cleanup logic
  frontend/src/components/MeasurementComponent.vue
  frontend/src/composables/MeasurementCollectionLogic.ts
  frontend/tests/unit/measurement-component.spec.ts
Due: frontend_unit_tests

fixed mobile placement bar + scroll issue
  frontend/src/App.vue
  frontend/src/components/NavBar.vue
Due: frontend_unit_tests

prevent temps out of liquid water range and edit tests to reflect that
  frontend/src/components/MeasurementComponent.vue
  frontend/src/composables/MeasurementCollectionLogic.ts
  frontend/tests/unit/measurement-component.spec.ts
Due: frontend_unit_tests

mobile buttons above eachother
  frontend/src/components/NavBar.vue
Due: frontend_unit_tests

Split up requirement files to isolate Sphinx requirements
  requirements/dev-requirements.txt
  requirements/doc-requirements.txt
  requirements/requirements.txt
Due: build_backend_image

Add production configuration files for Django and Nginx setup
  backend/backend/settings.py
  production/.env.sample
  production/docker-compose.prod.yaml
  production/dockerfile.backend.prod
  production/dockerfile.frontend.prod
  production/production.nginx
Due: lint, backend_unit_tests

Remove unnecessary before_script from Django backend service in production Docker Compose
  dockerfile.backend
  production/docker-compose.prod.yaml
Due: build_backend_image

add measurement vue test
  frontend/eslint.config.js
  frontend/src/components/LocationFallback.vue
  frontend/src/components/MeasurementComponent.vue
  frontend/tests/unit/MeasurementComponent/MeasurementComponent.spec.ts
Due: frontend_unit_tests

Update environment and Nginx configuration for production deployment
  production/.env.sample
  production/docker-compose.prod.yaml
  production/production.nginx
Due: none

add initial export and filter tests and modify paths for components
  frontend/src/components/FilterPanelComponent.vue
  frontend/src/components/SearchResultsComponent.vue
  frontend/src/views/ExportView.vue
  frontend/tests/unit/ExportView/ExportView.spec.ts
  frontend/tests/unit/ExportView/FilterPanelComponent.spec.ts
Due: frontend_unit_tests

Path conditions:
  build_backend_image: any of: requirements/**/*, dockerfile.backend, .gitlab-ci.yml
  lint: any of: backend/**/*
  backend_unit_tests: any of: backend/**/*
  frontend_unit_tests: any of: frontend/**/*
