Repository rtaormina/waterwatch: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_backend_image, build_frontend_image, lint_backend, lint_frontend, backend_unit_tests, frontend_unit_tests

Path conditions:
  build_backend_image: any of: requirements/**/*, dockerfile.backend
  build_frontend_image: any of: frontend/package.json, frontend/package-lock.json, dockerfile.frontend
  lint_backend: any of: backend/**/*
  lint_frontend: any of: frontend/**/*
  backend_unit_tests: any of: backend/**/*
  frontend_unit_tests: any of: frontend/**/*

Adjust and add backend tests
  backend/measurement_analysis/tests/tests_measurement_aggregation.py
  backend/measurement_export/strategies.py
  backend/measurement_export/tests/tests_export_strategies.py
  backend/measurement_export/tests/tests_export_utils.py
  backend/measurement_export/tests/tests_export_views.py
  backend/measurement_export/tests/tests_measurement_export.py
  backend/measurement_export/tests/tests_serializers.py
  backend/measurement_export/utils.py
  backend/measurement_export/views.py
  backend/measurements/tests/tests_measurement.py
  backend/measurements/tests/tests_temperature.py
  backend/measurements/tests/tests_views.py
  backend/measurements/views.py
Due: lint_backend, backend_unit_tests

add transition to menu buttons
  frontend/src/views/MapView.vue
Due: lint_frontend, frontend_unit_tests

update tutorial page to include new button layout and carousel for images
  frontend/src/assets/images/map-compare.png
  frontend/src/assets/images/map-menu.png
  frontend/src/assets/images/map-select.png
  frontend/src/assets/images/map-settings.png
  frontend/src/locales/en.json
  frontend/src/locales/nl.json
  frontend/src/locales/template.json
  frontend/src/views/TutorialView.vue
Due: lint_frontend, frontend_unit_tests

add info for legend time range and modify tests
  frontend/src/components/Legend.vue
  frontend/tests/unit/ComponentTests/MapComponents/LegendComponentTest.spec.ts
Due: lint_frontend, frontend_unit_tests

increase quality of tutorial photos
  frontend/src/assets/images/map-compare.png
  frontend/src/assets/images/map-select.png
Due: lint_frontend, frontend_unit_tests

add info button for temp and count toggle and update tests
  frontend/src/components/Legend.vue
  frontend/tests/unit/ComponentTests/MapComponents/LegendComponentTest.spec.ts
Due: lint_frontend, frontend_unit_tests

update ssh pipeline to use ssh-add with a file path
  .gitlab-ci.yml
Due: none

Fix failing e2e and frontend tests
  backend/measurement_export/strategies.py
  backend/measurement_export/tests/tests_serializers.py
  frontend/src/composables/Export/useSearch.ts
  frontend/tests/e2e/measurement-export.spec.ts
  frontend/tests/unit/ComponentTests/DataAnalyticsComponent/DataAnalytics.spec.ts
  frontend/tests/unit/ComposableTests/MeasurementExportLogicTests.spec.ts
Due: lint_backend, lint_frontend, backend_unit_tests, frontend_unit_tests

test only deployement
  .gitlab-ci.yml
Due: none

add known hosts
  .gitlab-ci.yml
Due: none

remove deployement from pipeline as ssh keeps getting timeouts
  .gitlab-ci.yml
Due: none

Fix type errors
  frontend/src/stores/ExportStore.ts
  frontend/src/views/ExportView.vue
Due: lint_frontend, frontend_unit_tests

Added `watch` functionality to reset error states after the first verification in MeasurementBlock and TemperatureMetric components.
  frontend/src/components/Measurement/MeasurementBlock.vue
  frontend/src/components/Measurement/TemperatureMetric.vue
  frontend/src/components/MeasurementComponent.vue
  frontend/src/components/SideBar.vue
  frontend/src/composables/MeasurementCollectionLogic.ts
Due: lint_frontend, frontend_unit_tests

update css
  frontend/src/index.css
Due: lint_frontend, frontend_unit_tests

Refactor validateInputs function to improve parameter handling and update createPayload tests for consistency with new data structure
  frontend/src/composables/MeasurementCollectionLogic.ts
  frontend/tests/unit/ComposableTests/MeasurementCollectionLogicTest.spec.ts
Due: lint_frontend, frontend_unit_tests

Add caching for filtering
  backend/backend/settings.py
  backend/measurement_export/apps.py
  backend/measurement_export/signals.py
  backend/measurement_export/strategies.py
  backend/measurement_export/tests/tests_export_utils.py
  backend/measurement_export/utils.py
  backend/measurement_export/views.py
Due: lint_backend, backend_unit_tests

fix unit tests
  frontend/src/components/Measurement/DurationInput.vue
  frontend/src/components/Measurement/TemperatureMetric.vue
  frontend/src/components/MeasurementComponent.vue
  frontend/tests/unit/ComponentTests/MeasurementComponent/DurationInputComponent.spec.ts
  frontend/tests/unit/ComponentTests/MeasurementComponent/MeasurementComponent.spec.ts
  frontend/tests/unit/ComponentTests/MeasurementComponent/TemperatureInputComponent.spec.ts
Due: lint_frontend, frontend_unit_tests

fix filtering issues such that it appears in the analytics and miscellanous bugs
  backend/measurement_export/views.py
  frontend/src/components/Analysis/DataAnalyticsComponent.vue
  frontend/src/components/Legend.vue
  frontend/src/components/MapMenu.vue
  frontend/src/views/MapView.vue
  frontend/tests/unit/ComponentTests/MapComponents/LegendComponentTest.spec.ts
Due: lint_backend, lint_frontend, backend_unit_tests, frontend_unit_tests

fix linting errors
  backend/measurement_export/views.py
  frontend/src/components/MapMenu.vue
Due: lint_backend, lint_frontend, backend_unit_tests, frontend_unit_tests

formatting backend view
  backend/measurement_export/views.py
Due: lint_backend, backend_unit_tests

fix data analytics tests
  frontend/tests/unit/ComponentTests/DataAnalyticsComponent/DataAnalytics.spec.ts
Due: lint_frontend, frontend_unit_tests

fix e2e tests
  frontend/src/components/MeasurementComponent.vue
  frontend/tests/e2e/measurement-component.spec.ts
Due: lint_frontend, frontend_unit_tests

update index.css with dark mode supported colors
  frontend/src/components/Modal.vue
  frontend/src/index.css
Due: lint_frontend, frontend_unit_tests

add tests for map menu
  frontend/src/components/MapMenu.vue
  frontend/tests/unit/ComponentTests/MapComponents/LegendComponentTest.spec.ts
  frontend/tests/unit/ComponentTests/MapComponents/MapMenu.spec.ts
Due: lint_frontend, frontend_unit_tests

cleanup mapview code
  frontend/src/components/MapMenu.vue
  frontend/src/views/MapView.vue
Due: lint_frontend, frontend_unit_tests

Fix pinia missing
  .gitlab-ci.yml
  frontend/package-lock.json
Due: build_frontend_image, lint_frontend, frontend_unit_tests

remove sql files from database
  .gitignore
  assets/countries_1.sql
  assets/countries_2.sql
Due: none

add countries.sql file to nginx configuration for serving country data
  production/docker-compose.prod.stack.yaml
  production/production.nginx
Due: none

reorganize buttons
  frontend/src/components/MapMenu.vue
Due: lint_frontend, frontend_unit_tests

add countries.sql file to nginx configuration for serving country data
  production/docker-compose.prod.yaml
  production/dockerfile.frontend.prod
  production/production.nginx
Due: none

moved COPY command for countries.sql in Dockerfile to slightly optimise build cache
  production/dockerfile.frontend.prod
Due: none

update scripts with new countries.sql file
  production/setup.sh
  scripts/setup.sh
  scripts/test-setup.sh
Due: none

update Readme
  README.md
Due: none

fix slither of map showing
  frontend/src/views/MapView.vue
Due: lint_frontend, frontend_unit_tests

Add performance test documentation for export
  docs/load_testing/attachments/pt-export-002-1.png
  docs/load_testing/index.md
  docs/load_testing/pt-export-002.md
Due: none

Fix documentation in frontend
  frontend/src/composables/Export/useSearch.ts
Due: lint_frontend, frontend_unit_tests

update readme
  README.md
Due: none

refactor: add type definition for VerifiableComponent in MeasurementComponent
  frontend/src/components/MeasurementComponent.vue
Due: lint_frontend, frontend_unit_tests

Fix tests failing because of Pinia, adjust docks
  .gitlab-ci.yml
  frontend/src/composables/Export/useSearch.ts
  frontend/tests/unit/ComposableTests/MeasurementExportLogicTests.spec.ts
Due: lint_frontend, frontend_unit_tests

fix temperature input to allow decimals and update tests
  frontend/src/components/Measurement/TemperatureMetric.vue
  frontend/tests/unit/ComponentTests/MeasurementComponent/TemperatureInputComponent.spec.ts
Due: lint_frontend, frontend_unit_tests
