Repository rtaormina/waterwatch: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_backend_image, build_frontend_image, lint, backend_unit_tests, frontend_unit_tests

build_backend_image:
  stage: build_image
  image: docker:latest
  services:
  - docker:dind
  script:
  - echo $CI_REGISTRY_PASSWORD | docker login -u $CI_REGISTRY_USER --password-stdin $CI_REGISTRY
  - docker build -f dockerfile.backend -t $CI_REGISTRY_IMAGE:v0.1-backend .
  - docker push $CI_REGISTRY_IMAGE:v0.1-backend

build_frontend_image:
  stage: build_image
  image: docker:latest
  services:
  - docker:dind
  script:
  - echo $CI_REGISTRY_PASSWORD | docker login -u $CI_REGISTRY_USER --password-stdin $CI_REGISTRY
  - docker build -f dockerfile.frontend -t $CI_REGISTRY_IMAGE:v0.1-frontend .
  - docker push $CI_REGISTRY_IMAGE:v0.1-frontend

lint:
  stage: lint
  image: ghcr.io/astral-sh/ruff:0.11.8-alpine
  script:
  - ruff check
  - ruff format --diff

backend_unit_tests:
  stage: testing
  image: $CI_REGISTRY_IMAGE:v0.1-backend
  script:
  - python backend/manage.py test

frontend_unit_tests:
  stage: testing
  image: $CI_REGISTRY_IMAGE:v0.1-frontend
  script:
  - cd frontend
  - npm run test

add ui feedback to issue with mins and sec being valid between 0-59 and reformat files
  frontend/src/components/MeasurementComponent.vue
  frontend/src/composables/MeasurementCollectionLogic.ts
Due: frontend_unit_tests

Remove polling from vite.config.ts
  frontend/vite.config.ts
Due: frontend_unit_tests

Refactor LocationFallback component
  frontend/src/components/LocationFallback.vue
  frontend/src/composables/LocationFallback.ts
Due: frontend_unit_tests

update readme
  README.md
Due: none

functionality only researcher can download data
  backend/measurement_export/models.py
  frontend/src/components/SearchResultsComponent.vue
  frontend/src/composables/PermissionsLogic.ts
  frontend/src/router/index.js
Due: lint, backend_unit_tests, frontend_unit_tests

add redirects for researcher and normal user
  backend/api/views.py
  frontend/src/composables/LoginLogic.ts
Due: lint, backend_unit_tests, frontend_unit_tests

remove console logs and add pop-up confirmation for all measurements being submitted
  frontend/src/components/MeasurementComponent.vue
  frontend/src/composables/MeasurementCollectionLogic.ts
Due: frontend_unit_tests

Change tests to reflect changes in exportData behavior
  frontend/src/components/SearchResultsComponent.vue
  frontend/src/composables/MeasurementExportLogic.ts
  frontend/tests/unit/measurement-export.spec.ts
Due: frontend_unit_tests

remove CORS middleware from settings, add migration for location permissions, update permissions logic example, and adjust nginx location regex
  backend/backend/settings.py
  backend/measurement_export/migrations/0003_alter_location_options.py
  frontend/src/composables/PermissionsLogic.ts
  nginx.conf
Due: lint, backend_unit_tests, frontend_unit_tests

make e2e test work within docker network
  backend/backend/settings.py
  docker-compose.yaml
  frontend/tests/e2e/measurement-component.spec.ts
  frontend/vite.config.ts
Due: lint, backend_unit_tests, frontend_unit_tests

change styling and remove console log message
  frontend/src/components/MeasurementComponent.vue
Due: frontend_unit_tests

remove e2e from pipeline
  .gitlab-ci.yml
Due: build_backend_image, build_frontend_image

change upper bound to 500 for temperature measurements, remove console logs
  frontend/src/composables/MeasurementCollectionLogic.ts
Due: frontend_unit_tests

give map a z-index of 0
  frontend/src/components/LocationFallback.vue
  frontend/src/views/MapView.vue
Due: frontend_unit_tests

add unit tests for LocationFallback composable functions
  frontend/src/components/LocationFallback.vue
  frontend/src/components/MeasurementComponent.vue
  frontend/src/composables/LocationFallback.ts
  frontend/tests/unit/locationFallbackComponent.spec.ts
Due: frontend_unit_tests

add frontend test coverage
  frontend/.gitignore
  frontend/package-lock.json
  frontend/package.json
  frontend/tests/unit/locationFallbackComposable.spec.ts
  frontend/vitest.config.js
Due: build_frontend_image, frontend_unit_tests

update Map-page to be the index page. And have map page show hexMap component
  frontend/src/components/HexMap.vue
  frontend/src/components/MeasurementComponent.vue
  frontend/src/router/index.js
  frontend/src/views/MapView.vue
Due: frontend_unit_tests

create setup script file
  setup.py
Due: none

- update .gitignore to include coverage directory and files - update package.json
  .gitignore
  frontend/package-lock.json
  frontend/package.json
Due: build_frontend_image, frontend_unit_tests

update database to include local time and update tests to reflect this change, round location to 3 decimal places on frontend
  backend/campaigns/migrations/0001_initial.py
  backend/measurement_collection/serializers.py
  backend/measurement_export/migrations/0001_initial.py
  backend/measurement_export/migrations/0002_alter_location_table.py
  backend/measurement_export/migrations/0003_alter_location_options.py
  backend/measurement_export/strategies.py
  backend/measurements/migrations/0001_initial.py
  backend/measurements/migrations/0003_alter_measurement_timestamp.py
  backend/measurements/migrations/0004_measurement_timestamp_local.py
  backend/measurements/migrations/0005_alter_measurement_timestamp.py
  backend/measurements/models.py
  backend/measurements/tests/tests_measurement.py
  frontend/package-lock.json
  frontend/package.json
  frontend/src/composables/MeasurementCollectionLogic.ts
  frontend/tests/unit/measurement-component.spec.ts
Due: build_frontend_image, lint, backend_unit_tests, frontend_unit_tests

update adding measurement to stay on mapView and removed HomeView
  frontend/src/components/LocationFallback.vue
  frontend/src/components/MeasurementComponent.vue
  frontend/src/components/NavBar.vue
  frontend/src/composables/LoginLogic.ts
  frontend/src/main.ts
  frontend/src/router/index.js
  frontend/src/views/HomeView.vue
  frontend/tests/unit/loginComponentTest.spec.ts
Due: frontend_unit_tests

fix backend test
  backend/measurements/tests/tests_measurement.py
Due: lint, backend_unit_tests

fix backend testing pipeline settings
  .gitlab-ci.yml
Due: build_backend_image, build_frontend_image

change pipeline
  .gitlab-ci.yml
Due: build_backend_image, build_frontend_image

update navbar locations '/map' to '/'
  frontend/src/components/NavBar.vue
Due: frontend_unit_tests

pipeline fix by changing to latest image version tag
  .gitlab-ci.yml
Due: build_backend_image, build_frontend_image

add min to minute and second time waited to avoid negative
  frontend/package-lock.json
  frontend/src/components/MeasurementComponent.vue
Due: frontend_unit_tests

added groups script and setup.sh
  backend/groups.py
  setup.py
  setup.sh
Due: lint, backend_unit_tests

create campaign endpoint to fetch active campaigns based on parameter
  backend/api/urls.py
  backend/campaigns/urls.py
  backend/campaigns/views.py
Due: lint, backend_unit_tests

update package-lock.json
  frontend/package-lock.json
Due: frontend_unit_tests

add Nuxt UI component library
  frontend/.gitignore
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.vue
  frontend/src/index.css
  frontend/src/main.ts
  frontend/tsconfig.app.json
  frontend/vite.config.ts
Due: build_frontend_image, frontend_unit_tests

add researcher
  backend/campaigns/management/__init__.py
  backend/campaigns/management/commands/__init__.py
  backend/campaigns/management/commands/groups.py
  backend/groups.py
  setup.sh
Due: lint, backend_unit_tests

formatting
  backend/campaigns/management/commands/groups.py
Due: lint, backend_unit_tests

Add useSession composable and update router authentication logic to ensure csrf cookie is set
  frontend/src/composables/useSession.ts
  frontend/src/router/index.js
Due: frontend_unit_tests

Fix admin panel on nginx proxy
  backend/measurements/admin.py
  nginx.conf
Due: lint, backend_unit_tests

Setup UI for filtering by location, temperature, date, and time
  backend/api/urls.py
  backend/measurement_export/urls.py
  backend/measurement_export/views.py
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/FilterPanelComponent.vue
  frontend/src/components/SearchResultsComponent.vue
  frontend/src/composables/ExportDownloadLogic.ts
  frontend/src/composables/ExportLocationLogic.ts
  frontend/src/composables/ExportPresetLogic.ts
  frontend/src/composables/ExportTemperatureLogic.ts
  frontend/src/composables/ExportTimeLogic.ts
  frontend/vite.config.ts
Due: build_frontend_image, lint, backend_unit_tests, frontend_unit_tests

fixed permissions for researcher
  backend/campaigns/management/commands/groups.py
Due: lint, backend_unit_tests

update docker-compose and setup scripts to only do setup on initial creation
  docker-compose.yaml
  setup.sh
Due: none

add initial frontend campaign banner component with countdown to map view
  frontend/src/components/CampaignBannerComponent.vue
  frontend/src/views/MapView.vue
Due: frontend_unit_tests

fix name of docker volume
  docker-compose.yaml
  setup.sh
Due: none

Path conditions:
  build_backend_image: any of: requirements/**/*, dockerfile.backend, .gitlab-ci.yml
  build_frontend_image: any of: frontend/package.json, dockerfile.frontend, .gitlab-ci.yml
  lint: any of: backend/**/*
  backend_unit_tests: any of: backend/**/*
  frontend_unit_tests: any of: frontend/**/*
