Repository rtaormina/waterwatch: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_backend_image, build_frontend_image, lint_backend, lint_frontend, backend_unit_tests, frontend_unit_tests

build_backend_image:
  stage: build_images
  image: docker:latest
  services:
  - docker:dind
  script:
  - echo $CI_REGISTRY_PASSWORD | docker login -u $CI_REGISTRY_USER --password-stdin $CI_REGISTRY
  - docker build -f dockerfile.backend -t $CI_REGISTRY_IMAGE:v0.2-backend .
  - docker push $CI_REGISTRY_IMAGE:v0.2-backend

build_frontend_image:
  stage: build_images
  image: docker:latest
  services:
  - docker:dind
  script:
  - echo $CI_REGISTRY_PASSWORD | docker login -u $CI_REGISTRY_USER --password-stdin $CI_REGISTRY
  - docker build -f dockerfile.frontend -t $CI_REGISTRY_IMAGE:v0.2-frontend .
  - docker push $CI_REGISTRY_IMAGE:v0.2-frontend

lint_backend:
  stage: linting
  image: ghcr.io/astral-sh/ruff:0.11.8-alpine
  script:
  - ruff check
  - ruff format --diff

lint_frontend:
  image: $CI_REGISTRY_IMAGE:v0.2-frontend
  before_script:
  - cd frontend
  - ln -s /dependencies/node_modules ./node_modules
  - cp /dependencies/package-lock.json ./
  stage: linting
  script:
  - npm run lint

backend_unit_tests:
  services:
  - name: postgis/postgis:latest
    alias: postgis
  variables:
    POSTGRES_DB: postgis
    POSTGRES_USER: postgueser
    POSTGRES_PASSWORD: shouldbesecret
    POSTGRES_HOST: postgis
    POSTGRES_HOST_AUTH_METHOD: trust
    POSTGRES_PORT: 5432
  stage: testing
  image: $CI_REGISTRY_IMAGE:v0.2-backend
  script:
  ...

frontend_unit_tests:
  image: $CI_REGISTRY_IMAGE:v0.2-frontend
  before_script:
  - cd frontend
  - ln -s /dependencies/node_modules ./node_modules
  - cp /dependencies/package-lock.json ./
  stage: testing
  script:
  - npm run test:coverage
  coverage: /All files(?:[^|]*\|){4}\s*(\S+)/
  artifacts:
    expire_in: 3 days
    reports:
  ...

add initial skeleton of measurement tutorial and english translation
  frontend/src/locales/en.json
  frontend/src/locales/nl.json
  frontend/src/locales/template.json
  frontend/src/views/TutorialView.vue
Due: lint_frontend, frontend_unit_tests

add faucet and thermometer images and update template and english and dutch locale
  frontend/src/assets/faucet1-tap.png
  frontend/src/assets/faucet2-tap.png
  frontend/src/assets/fever-thermometer.png
  frontend/src/assets/infrared-thermometer.png
  frontend/src/assets/room-thermometer.png
  frontend/src/assets/separate-tap.png
  frontend/src/assets/thermostatic-tap.png
  frontend/src/locales/en.json
  frontend/src/locales/nl.json
  frontend/src/locales/template.json
  frontend/src/views/TutorialView.vue
Due: lint_frontend, frontend_unit_tests

Update deploy_production job to use Ubuntu image and improve SSH key handling
  .gitlab-ci.yml
Due: none

fix formatting
  .gitlab-ci.yml
Due: none

change location of language box and overlay
  frontend/src/components/NavBar.vue
  frontend/src/views/TutorialView.vue
Due: lint_frontend, frontend_unit_tests

Add setup for load testing
  backend/locustfile.py
  requirements/dev-requirements.txt
Due: build_backend_image, lint_backend, backend_unit_tests

add popup modal for first time users
  frontend/src/views/MapView.vue
Due: lint_frontend, frontend_unit_tests

add link to tutorial page and update description of popup
  frontend/src/views/MapView.vue
Due: lint_frontend, frontend_unit_tests

Optimize LoginUser, change imports
  backend/locustfile.py
Due: lint_backend, backend_unit_tests

Add base documentation for load testing
  docs/index.md
  docs/load_test.md
  docs/load_testing/index.md
  docs/load_testing/template.md
Due: none

Add index to the end of load test docs
  docs/load_test.md
Due: none

Fix issue in ReseracherUser
  backend/locustfile.py
Due: lint_backend, backend_unit_tests

Add stress testing scenarios
  docs/load_testing/attachments/pt-export-001-1.png
  docs/load_testing/attachments/pt-export-001-2.png
  docs/load_testing/pt-export-001.md
  docs/load_testing/pt-multiple-001.md
  docs/load_testing/st-analytics-001.md
  docs/load_testing/st-login-001.md
Due: none

Add load testing to contribution guide, update README
  README.md
  docs/contribution_guide.md
Due: none

Improve grammar, add files to index
  docs/load_test.md
  docs/load_testing/index.md
  docs/load_testing/pt-export-001.md
  docs/load_testing/pt-multiple-001.md
  docs/load_testing/st-analytics-001.md
  docs/load_testing/st-login-001.md
Due: none

Refactor MeasurementComponent and related logic: Introduced MeasurementData type for better structure and clarity.
  frontend/src/components/Block.vue
  frontend/src/components/Measurement/DurationInput.vue
  frontend/src/components/Measurement/MeasurementBlock.vue
  frontend/src/components/Measurement/TemperatureMetric.vue
  frontend/src/components/MeasurementComponent.vue
  frontend/src/components/SideBar.vue
  frontend/src/composables/LocationFallback.ts
  frontend/src/composables/MeasurementCollectionLogic.ts
  frontend/src/index.css
  frontend/src/views/AboutView.vue
  frontend/src/views/MapView.vue
Due: lint_frontend, frontend_unit_tests

add initial mapview test
  frontend/src/components/CampaignBannerComponent.vue
  frontend/src/components/HexMap.vue
  frontend/src/views/MapView.vue
  frontend/tests/unit/ViewTests/MapViewTest.spec.ts
Due: lint_frontend, frontend_unit_tests

add initial e2e description and template to docs
  docs/e2e_test.md
  docs/e2e_testing/index.md
  docs/e2e_testing/template.md
  docs/index.md
Due: none

add troubleshooting steps and organize, add database schema to diagrams
  docs/assets/schema.png
  docs/schema.md
  docs/troubleshooting.md
Due: none

add initial test e2e tests and architecture page for architectural diagrams
  docs/architecture.md
  docs/diagrams.md
  docs/e2e_testing/e2e-export-001.md
  docs/e2e_testing/e2e-export-002.md
  docs/e2e_testing/e2e-export-003.md
  docs/e2e_testing/e2e-export-004.md
  docs/e2e_testing/index.md
Due: none

add architectural UML diagrams to documentation
  docs/architecture.md
  docs/assets/component.png
  docs/assets/container.png
  docs/assets/context.png
Due: none

update readme with documentation links
  README.md
Due: none

Add hexagon comparison functionality; change boundry to boundary in all files
  backend/measurement_analysis/tests/tests_measurement_aggregation.py
  backend/measurement_analysis/views.py
  backend/measurement_export/views.py
  frontend/src/components/ComparisonBar.vue
  frontend/src/components/DataAnalyticsCompare.vue
  frontend/src/components/DataAnalyticsComponent.vue
  frontend/src/components/HexMap.vue
  frontend/src/composables/DataVisualizationLogic.ts
  frontend/src/views/MapView.vue
  frontend/tests/unit/ComponentTests/DataAnalyticsComponent/DataAnalyticsTests.spec.ts
Due: lint_backend, lint_frontend, backend_unit_tests, frontend_unit_tests

Fix failing tests due to changes in last commit
  frontend/tests/unit/ComponentTests/DataAnalyticsComponent/DataAnalyticsTests.spec.ts
  frontend/tests/unit/ComposableTests/AnalyticsLogicTests.spec.ts
Due: lint_frontend, frontend_unit_tests

replace broken links with file name
  docs/e2e_testing/e2e-export-001.md
  docs/e2e_testing/e2e-export-002.md
  docs/e2e_testing/e2e-export-003.md
  docs/e2e_testing/e2e-export-004.md
Due: none

Add initial color changing option
  frontend/src/components/HexMap.vue
  frontend/src/components/Legend.vue
  frontend/src/views/MapView.vue
Due: lint_frontend, frontend_unit_tests

Refactor overlaid kde function name, improve jsdoc, add tests for data comparison component and data visualization composable
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/DataAnalyticsCompare.vue
  frontend/src/composables/DataVisualizationLogic.ts
  frontend/tests/unit/ComponentTests/DataAnalyticsComponent/DataAnalytics.spec.ts
  frontend/tests/unit/ComponentTests/DataAnalyticsComponent/DataCompare.spec.ts
  frontend/tests/unit/ComposableTests/DataVisualizationLogic.spec.ts
Due: build_frontend_image, lint_frontend, frontend_unit_tests

Fix building issue; make it so that desktop view gets activated at 1024px width instead of 768px width
  frontend/src/components/LoginComponent.vue
  frontend/src/components/NavBar.vue
  frontend/src/index.css
  frontend/src/views/AboutView.vue
  frontend/tests/unit/ComponentTests/NavBarComponent/NavBarComponent.spec.ts
Due: lint_frontend, frontend_unit_tests

Changed @ to .. for imports in MapView.vue
  frontend/src/views/MapView.vue
Due: lint_frontend, frontend_unit_tests

Switch from jsdom to happy-dom
  frontend/package-lock.json
  frontend/package.json
  frontend/tests/unit/ComposableTests/DataVisualizationLogic.spec.ts
Due: build_frontend_image, lint_frontend, frontend_unit_tests

Remove jsdom from dependencies
  frontend/package-lock.json
  frontend/package.json
Due: build_frontend_image, lint_frontend, frontend_unit_tests

add select bar to make selection more intutive on mobile
  frontend/src/components/SelectBar.vue
  frontend/src/views/MapView.vue
Due: lint_frontend, frontend_unit_tests

add tests and documentation, fix style
  frontend/src/components/SelectBar.vue
  frontend/src/views/MapView.vue
  frontend/tests/unit/ComponentTests/DataAnalyticsComponent/DataSelect.spec.ts
Due: lint_frontend, frontend_unit_tests

fix style issues with typedoc
  frontend/src/views/MapView.vue
Due: lint_frontend, frontend_unit_tests

add scripts and assets folder, modify scripts to work with new organization of file structure
  assets/countries_1.sql
  assets/countries_2.sql
  scripts/setup.sh
  scripts/test-reset-db.sh
  scripts/test-setup.sh
Due: none

remove extraneous readme and md files from frontend
  frontend/src/composables/docs/ts/README.md
  frontend/src/composables/docs/ts/globals.md
Due: lint_frontend, frontend_unit_tests

reorganize frontend assets folder to separate fonts and images, remove unused images
  frontend/src/assets/burger-bar.png
  frontend/src/assets/fonts/NotoSans-Black.ttf
  frontend/src/assets/fonts/NotoSans-BlackItalic.ttf
  frontend/src/assets/fonts/NotoSans-Bold.ttf
  frontend/src/assets/fonts/NotoSans-BoldItalic.ttf
  frontend/src/assets/fonts/NotoSans-ExtraBold.ttf
  frontend/src/assets/fonts/NotoSans-ExtraBoldItalic.ttf
  frontend/src/assets/fonts/NotoSans-ExtraLight.ttf
  frontend/src/assets/fonts/NotoSans-ExtraLightItalic.ttf
  frontend/src/assets/fonts/NotoSans-Italic.ttf
  frontend/src/assets/fonts/NotoSans-Light.ttf
  frontend/src/assets/fonts/NotoSans-LightItalic.ttf
  frontend/src/assets/fonts/NotoSans-Medium.ttf
  frontend/src/assets/fonts/NotoSans-MediumItalic.ttf
  frontend/src/assets/fonts/NotoSans-Regular.ttf
  frontend/src/assets/fonts/NotoSans-SemiBold.ttf
  frontend/src/assets/fonts/NotoSans-SemiBoldItalic.ttf
  frontend/src/assets/fonts/NotoSans-Thin.ttf
  frontend/src/assets/fonts/NotoSans-ThinItalic.ttf
  frontend/src/assets/images/add-measurement-page.png
  frontend/src/assets/images/add-measurement-tutorial.png
  frontend/src/assets/images/data-analysis.png
  frontend/src/assets/images/download-export.png
  frontend/src/assets/images/faucet1-tap.png
  frontend/src/assets/images/faucet2-tap.png
  frontend/src/assets/images/fever-thermometer.png
  frontend/src/assets/images/filters.png
  frontend/src/assets/images/graph-legend.png
  frontend/src/assets/images/infrared-thermometer.png
  frontend/src/assets/images/room-thermometer.png
  frontend/src/assets/images/separate-tap.png
  frontend/src/assets/images/thermostatic-tap.png
  frontend/src/index.css
  frontend/src/views/TutorialView.vue
Due: lint_frontend, frontend_unit_tests

reorder urls, fix typos, remove old todo and logging comments
  backend/api/urls.py
  backend/measurement_analysis/urls.py
  backend/measurement_analysis/views.py
  backend/measurements/views.py
Due: lint_backend, backend_unit_tests

organize components into analysis and export
  frontend/src/components/Analysis/ComparisonBar.vue
  frontend/src/components/Analysis/DataAnalyticsCompare.vue
  frontend/src/components/Analysis/DataAnalyticsComponent.vue
  frontend/src/components/Analysis/HexAnalysis.vue
  frontend/src/components/Analysis/SelectBar.vue
  frontend/src/components/Export/FilterPanelComponent.vue
  frontend/src/components/Export/SearchBarComponent.vue
  frontend/src/components/Export/SearchResultsComponent.vue
  frontend/src/components/HexMap.vue
  frontend/src/views/ExportView.vue
  frontend/src/views/MapView.vue
  frontend/tests-examples/demo-todo-app.spec.ts
Due: lint_frontend, frontend_unit_tests

organize composables and update paths in tests
  frontend/src/components/Analysis/DataAnalyticsCompare.vue
  frontend/src/components/Analysis/DataAnalyticsComponent.vue
  frontend/src/components/Export/FilterPanelComponent.vue
  frontend/src/components/Export/SearchBarComponent.vue
  frontend/src/composables/Analysis/DataVisualizationLogic.ts
  frontend/src/composables/Export/useExportData.ts
  frontend/src/composables/Export/useFilters.ts
  frontend/src/composables/Export/usePresets.ts
  frontend/src/composables/Export/useSearch.ts
  frontend/src/views/ExportView.vue
  frontend/tests/unit/ComponentTests/DataAnalyticsComponent/DataAnalytics.spec.ts
  frontend/tests/unit/ComponentTests/DataAnalyticsComponent/DataCompare.spec.ts
  frontend/tests/unit/ComponentTests/DataAnalyticsComponent/DataSelect.spec.ts
  frontend/tests/unit/ComponentTests/ExportComponents/FilterPanelComponent.spec.ts
  frontend/tests/unit/ComponentTests/ExportComponents/SearchBarComponent.spec.ts
  frontend/tests/unit/ComponentTests/ExportComponents/SearchResultsComponent.spec.ts
  frontend/tests/unit/ComponentTests/MapComponents/HexAnalysisComponentTest.spec.ts
  frontend/tests/unit/ComponentTests/MapComponents/LegendComponentTest.spec.ts
  frontend/tests/unit/ComposableTests/AnalyticsLogicTests.spec.ts
  frontend/tests/unit/ComposableTests/DataVisualizationLogic.spec.ts
  frontend/tests/unit/ComposableTests/MeasurementExportLogicTests.spec.ts
  frontend/tests/unit/ComposableTests/PresetLogic.spec.ts
Due: lint_frontend, frontend_unit_tests

Path conditions:
  build_backend_image: any of: requirements/**/*, dockerfile.backend
  build_frontend_image: any of: frontend/package.json, frontend/package-lock.json, dockerfile.frontend
  lint_backend: any of: backend/**/*
  lint_frontend: any of: frontend/**/*
  backend_unit_tests: any of: backend/**/*
  frontend_unit_tests: any of: frontend/**/*
