Repository rtaormina/waterwatch: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_backend_image, build_frontend_image, lint_backend, lint_frontend, backend_unit_tests, frontend_unit_tests

Path conditions:
  build_backend_image: any of: requirements/**/*, dockerfile.backend
  build_frontend_image: any of: frontend/package.json, frontend/package-lock.json, dockerfile.frontend
  lint_backend: any of: backend/**/*
  lint_frontend: any of: frontend/**/*
  backend_unit_tests: any of: backend/**/*
  frontend_unit_tests: any of: frontend/**/*

Get data from backend for hex analysis
  backend/measurement_analysis/views.py
  frontend/src/components/HexMap.vue
  frontend/src/views/MapView.vue
Due: lint_backend, lint_frontend, backend_unit_tests, frontend_unit_tests

fix tips/warnings and paths
  docs/development/contribution_guide.md
  docs/development/deployment.md
  docs/development/installation.md
  docs/load_testing/index.md
Due: none

Fix pipeline using wrong frontend image
  .gitlab-ci.yml
Due: none

fix missing links and format documents in development section
  docs/development/contribution_guide.md
  docs/development/deployment.md
  docs/development/installation.md
Due: none

add dark mode to analysis pages and graphs
  frontend/src/components/Analysis/ComparisonBar.vue
  frontend/src/components/Analysis/DataAnalyticsCompare.vue
  frontend/src/components/Analysis/DataAnalyticsComponent.vue
  frontend/src/components/Analysis/HexAnalysis.vue
  frontend/src/components/Analysis/SelectBar.vue
  frontend/src/components/HexMap.vue
  frontend/src/components/LanguageSwitcher.vue
  frontend/src/components/Legend.vue
  frontend/src/composables/Analysis/DataVisualizationLogic.ts
  frontend/src/views/MapView.vue
Due: lint_frontend, frontend_unit_tests

update api specs to be accurate with user and campaign endpoints, add some measurement endpoitns
  docs/api_specs/WATERWATCH_API.yaml
  docs/api_specs/admin_api.md
  docs/api_specs/api_specs.md
  docs/api_specs/campaigns_api.md
  docs/api_specs/measurements_api.md
  docs/api_specs/users_api.md
Due: none

Fix frontend tests
  frontend/src/components/LoginComponent.vue
  frontend/tests/unit/ComponentTests/LoginComponent/LoginComponent.spec.ts
  frontend/tests/unit/ComposableTests/DataVisualizationLogic.spec.ts
Due: lint_frontend, frontend_unit_tests

Add authentication for map and data visualization of export map view
  backend/measurement_export/views.py
Due: lint_backend, backend_unit_tests

add missing measurement endpoints and modify search endpoint to include all filters
  docs/api_specs/WATERWATCH_API.yaml
  docs/api_specs/measurements_api.md
Due: none

Fix filters not restoring after going back to data export page
  frontend/src/composables/Analysis/DataVisualizationLogic.ts
  frontend/src/views/ExportMapView.vue
  frontend/src/views/ExportView.vue
Due: lint_frontend, frontend_unit_tests

Update alerts to use Toasts
  frontend/src/App.vue
  frontend/src/components/MeasurementComponent.vue
  frontend/src/composables/LocationFallback.ts
  frontend/tests/unit/ComposableTests/LocationFallbackComposable.spec.ts
Due: lint_frontend, frontend_unit_tests

set up mobile documentation for app in the existing docs
  docs/index.md
  docs/mobile_app/development.md
  docs/mobile_app/installation.md
  docs/mobile_app/testing.md
Due: none

Add styles for leaflet popup content in dark mode
  frontend/src/index.css
Due: lint_frontend, frontend_unit_tests

Update navbar hover styles and add accented text color variable
  frontend/src/components/NavBar.vue
  frontend/src/index.css
Due: lint_frontend, frontend_unit_tests

add basic mobile app docs
  docs/index.md
  docs/mobile_app/contribution_guide.md
  docs/mobile_app/development.md
  docs/mobile_app/installation.md
  docs/mobile_app/testing.md
Due: none

add toast on login error
  frontend/src/composables/LoginLogic.ts
Due: lint_frontend, frontend_unit_tests

fix typo in adding measurement and broken tests
  frontend/src/composables/MeasurementCollectionLogic.ts
  frontend/tests/unit/ComponentTests/MeasurementComponent/MeasurementComponent.spec.ts
  frontend/tests/unit/ComposableTests/MeasurementCollectionLogicTest.spec.ts
Due: lint_frontend, frontend_unit_tests

refactor: unify toast mock setup in Login component tests
  frontend/tests/unit/ComponentTests/LoginComponent/LoginComponent.spec.ts
  frontend/tests/unit/ComposableTests/LoginLogicComposable.spec.ts
Due: lint_frontend, frontend_unit_tests

update mobile docs for testing and development
  docs/mobile_app/contribution_guide.md
  docs/mobile_app/development.md
Due: none

fix: correct import path for useToast and update error message in tests
  frontend/src/components/MeasurementComponent.vue
  frontend/tests/unit/ComponentTests/MeasurementComponent/MeasurementComponent.spec.ts
  frontend/tests/unit/ViewTests/MapViewTest.spec.ts
Due: lint_frontend, frontend_unit_tests

fix translation of WATERWATCH
  frontend/index.html
  frontend/src/components/NavBar.vue
Due: lint_frontend, frontend_unit_tests

fix style for navbar.vue
  frontend/src/components/NavBar.vue
Due: lint_frontend, frontend_unit_tests

Fix failing tests
  frontend/src/composables/Analysis/DataVisualizationLogic.ts
  frontend/src/composables/Export/useExportData.ts
  frontend/src/composables/Export/useSearch.ts
  frontend/src/views/ExportMapView.vue
  frontend/tests/unit/ComposableTests/MeasurementExportLogicTests.spec.ts
Due: lint_frontend, frontend_unit_tests

CSS changes
  frontend/src/components/Analysis/DataAnalyticsComponent.vue
  frontend/src/components/Export/FilterPanelComponent.vue
  frontend/src/components/Export/SearchResultsComponent.vue
  frontend/src/views/ExportView.vue
Due: lint_frontend, frontend_unit_tests

Make debug recognize value correctly
  backend/backend/settings.py
Due: lint_backend, backend_unit_tests

Add development guide
  docs/development/development.md
Due: none

Add !important to leaflet popup background and text color styles
  frontend/src/index.css
Due: lint_frontend, frontend_unit_tests

Merge dev, remove deprecated parameter for composable, and adjust development guide according to dev
  .gitlab-ci.yml
  backend/backend/settings.py
  backend/measurement_analysis/views.py
  backend/measurement_export/factories.py
  backend/measurement_export/strategies.py
  backend/measurement_export/views.py
  docs/development/development.md
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/Analysis/DataAnalyticsComponent.vue
  frontend/src/components/Export/FilterPanelComponent.vue
  frontend/src/components/Export/SearchResultsComponent.vue
  frontend/src/components/HexMap.vue
  frontend/src/composables/Analysis/DataVisualizationLogic.ts
  frontend/src/composables/Export/useExportData.ts
  frontend/src/composables/Export/useSearch.ts
  frontend/src/main.ts
  frontend/src/router/index.ts
  frontend/src/stores/ExportStore.ts
  frontend/src/views/ExportMapView.vue
  frontend/src/views/ExportView.vue
  frontend/tests/unit/ComponentTests/DataAnalyticsComponent/DataAnalytics.spec.ts
  frontend/tests/unit/ComponentTests/ExportComponents/FilterPanelComponent.spec.ts
  frontend/tests/unit/ComposableTests/MeasurementExportLogicTests.spec.ts
  frontend/tests/unit/ViewTests/MapViewTest.spec.ts
Due: build_frontend_image, lint_backend, lint_frontend, backend_unit_tests, frontend_unit_tests

add missing manual tests
  docs/manual_testing/admin/tc-admin-003.md
  docs/manual_testing/export/tc-export-004.md
  docs/manual_testing/export/tc-export-005.md
Due: none

update dev guide formatting and index formatting for consistency between website and app
  docs/development/development.md
  docs/index.md
Due: none

change "None" to None in env file
  .env.example
  production/.env.sample
Due: none

Fix errors
  frontend/src/components/Legend.vue
  frontend/src/views/ExportMapView.vue
  frontend/src/views/MapView.vue
Due: lint_frontend, frontend_unit_tests

Fix month parsing and update CSRF token header in HexMap component
  frontend/src/components/HexMap.vue
Due: lint_frontend, frontend_unit_tests

Update legend formatting, make legend select different defaults on export map view
  frontend/src/components/Legend.vue
  frontend/src/views/ExportMapView.vue
  frontend/src/views/MapView.vue
Due: lint_frontend, frontend_unit_tests

add mobile app section to tutorial page, clear selection when going to multiple hexagon select
  frontend/src/assets/images/duration-mobile.png
  frontend/src/assets/images/measurement-mobile.png
  frontend/src/assets/images/temp-mobile.png
  frontend/src/components/HexMap.vue
  frontend/src/locales/en.json
  frontend/src/locales/nl.json
  frontend/src/locales/template.json
  frontend/src/views/TutorialView.vue
Due: lint_frontend, frontend_unit_tests

Add error handling to submission process with toast notifications
  frontend/src/components/MeasurementComponent.vue
Due: lint_frontend, frontend_unit_tests

Fix failing tests
  frontend/tests/unit/ComponentTests/MapComponents/LegendComponentTest.spec.ts
Due: lint_frontend, frontend_unit_tests

Remove toast notifications from error handling in login logic
  frontend/src/composables/LoginLogic.ts
Due: lint_frontend, frontend_unit_tests
