Repository rtaormina/waterwatch: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_backend_image, build_frontend_image, lint_backend, lint_frontend, backend_unit_tests, frontend_unit_tests

build_backend_image:
  stage: build_images
  image: docker:latest
  services:
  - docker:dind
  script:
  - echo $CI_REGISTRY_PASSWORD | docker login -u $CI_REGISTRY_USER --password-stdin $CI_REGISTRY
  - docker build -f dockerfile.backend -t $CI_REGISTRY_IMAGE:v0.2-backend .
  - docker push $CI_REGISTRY_IMAGE:v0.2-backend

build_frontend_image:
  stage: build_images
  image: docker:latest
  services:
  - docker:dind
  script:
  - echo $CI_REGISTRY_PASSWORD | docker login -u $CI_REGISTRY_USER --password-stdin $CI_REGISTRY
  - docker build -f dockerfile.frontend -t $CI_REGISTRY_IMAGE:v0.2-frontend .
  - docker push $CI_REGISTRY_IMAGE:v0.2-frontend

lint_backend:
  stage: linting
  image: ghcr.io/astral-sh/ruff:0.11.8-alpine
  script:
  - ruff check
  - ruff format --diff

lint_frontend:
  image: $CI_REGISTRY_IMAGE:v0.2-frontend
  before_script:
  - cd frontend
  - ln -s /dependencies/node_modules ./node_modules
  - cp /dependencies/package-lock.json ./
  stage: linting
  script:
  - npm run lint

backend_unit_tests:
  services:
  - name: postgis/postgis:latest
    alias: postgis
  variables:
    POSTGRES_DB: postgis
    POSTGRES_USER: postgueser
    POSTGRES_PASSWORD: shouldbesecret
    POSTGRES_HOST: postgis
    POSTGRES_HOST_AUTH_METHOD: trust
    POSTGRES_PORT: 5432
  stage: testing
  image: $CI_REGISTRY_IMAGE:v0.2-backend
  script:
  ...

frontend_unit_tests:
  image: $CI_REGISTRY_IMAGE:v0.2-frontend
  before_script:
  - cd frontend
  - ln -s /dependencies/node_modules ./node_modules
  - cp /dependencies/package-lock.json ./
  stage: testing
  script:
  - npm run test:coverage
  coverage: /All files(?:[^|]*\|){4}\s*(\S+)/
  artifacts:
    expire_in: 3 days
    reports:
  ...

add map flow tests and test-ids
  frontend/src/components/Legend.vue
  frontend/src/components/MapMenu.vue
  frontend/src/components/MeasurementComponent.vue
  frontend/tests/e2e/map-flows.spec.ts
Due: lint_frontend, frontend_unit_tests

update tests and documentation for new e2e tests
  docs/e2e_testing/e2e_test.md
  docs/e2e_testing/export/e2e-export-001.md
  docs/e2e_testing/export/e2e-export-002.md
  docs/e2e_testing/export/e2e-export-003.md
  docs/e2e_testing/export/e2e-export-004.md
  docs/e2e_testing/export/index.md
  docs/e2e_testing/index.md
  docs/e2e_testing/map/e2e-map-001.md
  docs/e2e_testing/map/e2e-map-002.md
  docs/e2e_testing/map/index.md
  docs/manual_testing/index.md
  docs/manual_testing/manual_test.md
  frontend/tests/e2e/map-flows.spec.ts
  frontend/tests/e2e/utils.ts
Due: lint_frontend, frontend_unit_tests

Fix location filtering by adding foreign key to measurement model
  backend/backend/settings.py
  backend/measurement_export/migrations/0006_create_location_table.py
  backend/measurement_export/serializers.py
  backend/measurement_export/tests/tests_export_utils.py
  backend/measurement_export/tests/tests_export_views.py
  backend/measurement_export/tests/tests_serializers.py
  backend/measurement_export/utils.py
  backend/measurement_export/views.py
  backend/measurements/migrations/0010_measurement_location_ref_and_more.py
  backend/measurements/models.py
  production/setup.sh
  scripts/setup.sh
  scripts/test-setup.sh
Due: lint_backend, backend_unit_tests

Add missing docstrings
  backend/measurement_export/serializers.py
Due: lint_backend, backend_unit_tests

Add tests for setting location manually
  frontend/tests/e2e/add-measurement.spec.ts
Due: lint_frontend, frontend_unit_tests

Add test for clear button
  frontend/src/components/MeasurementComponent.vue
  frontend/tests/e2e/add-measurement.spec.ts
Due: lint_frontend, frontend_unit_tests

Fix errors coming for merge conflicts, add documentation for tests
  docs/e2e_testing/add_measurement/e2e-add_measurement-001.md
  docs/e2e_testing/add_measurement/e2e-add_measurement-002.md
  docs/e2e_testing/add_measurement/e2e-add_measurement-003.md
  docs/e2e_testing/add_measurement/e2e-add_measurement-004.md
  docs/e2e_testing/add_measurement/e2e-add_measurement-005.md
  docs/e2e_testing/add_measurement/e2e-add_measurement-006.md
  docs/e2e_testing/add_measurement/e2e-add_measurement-007.md
  docs/e2e_testing/add_measurement/index.md
  docs/e2e_testing/index.md
  frontend/tests/e2e/add-measurement.spec.ts
Due: lint_frontend, frontend_unit_tests

Fix temperature model constraints to 0-100 non-inclusive
  backend/measurements/models.py
Due: lint_backend, backend_unit_tests

Fix Map Flows e2e tests
  frontend/tests/e2e/map-flows.spec.ts
Due: lint_frontend, frontend_unit_tests

Remove deprecated tests
  frontend/tests/e2e/measurement-component.spec.ts
Due: lint_frontend, frontend_unit_tests

Fix temperature frontend constraints to 0-100 non-inclusive
  frontend/src/composables/MeasurementCollectionLogic.ts
Due: lint_frontend, frontend_unit_tests

Adjust tests for validate temp frontend
  frontend/tests/unit/ComposableTests/MeasurementCollectionLogic.spec.ts
Due: lint_frontend, frontend_unit_tests

Change country and continent strings to region and subregion in frontend
  backend/measurements/migrations/0011_remove_temperature_temperature_value_greater_than_zero_and_more.py
  frontend/src/components/Export/FilterPanelComponent.vue
  frontend/src/composables/Export/useFilters.ts
  frontend/tests/e2e/measurement-export.spec.ts
  frontend/tests/unit/ComponentTests/ExportComponents/FilterPanelComponent.spec.ts
  frontend/tests/unit/ComposableTests/MeasurementExportLogic.spec.ts
Due: lint_backend, lint_frontend, backend_unit_tests, frontend_unit_tests

add a remove all measurements util function and fix failing map flow tests
  frontend/tests/e2e/map-flows.spec.ts
  frontend/tests/e2e/utils.ts
Due: lint_frontend, frontend_unit_tests

update readme and tutorial images
  README.md
  frontend/src/assets/images/add-measurement-page.png
  frontend/src/assets/images/filters.png
Due: lint_frontend, frontend_unit_tests

add documentation for e2e
  docs/e2e_testing/analysis/e2e-analysis-001.md
  docs/e2e_testing/analysis/e2e-analysis-002.md
  docs/e2e_testing/analysis/e2e-analysis-003.md
  docs/e2e_testing/analysis/index.md
  docs/e2e_testing/map/e2e-map-002.md
Due: none

change artist name
  docs/e2e_testing/map/e2e-map-002.md
Due: none

update home page of documentation to split off shared docs
  docs/index.md
Due: none

Fix e2e tests and error in utils
  frontend/src/components/LocationFallback.vue
  frontend/tests/e2e/add-measurement.spec.ts
  frontend/tests/e2e/map-flows.spec.ts
  frontend/tests/e2e/utils.ts
Due: lint_frontend, frontend_unit_tests

Update documentation
  docs/e2e_testing/add_measurement/index.md
  docs/e2e_testing/collection/e2e-collection-001.md
  docs/e2e_testing/collection/e2e-collection-002.md
  docs/e2e_testing/collection/e2e-collection-003.md
  docs/e2e_testing/collection/e2e-collection-004.md
  docs/e2e_testing/collection/e2e-collection-005.md
  docs/e2e_testing/collection/e2e-collection-006.md
  docs/e2e_testing/collection/e2e-collection-007.md
  docs/e2e_testing/collection/index.md
  docs/e2e_testing/index.md
Due: none

update api-specs
  docs/api_specs/WATERWATCH_API.yaml
Due: none

Adjust development guide, remove console.log statements, add padding to error page descriptions
  docs/development/development.md
  frontend/src/components/ErrorPage.vue
  frontend/src/composables/Analysis/DataVisualizationLogic.ts
  frontend/src/views/ExportMapView.vue
  frontend/src/views/MapView.vue
Due: lint_frontend, frontend_unit_tests

update logged in message and legend image
  frontend/src/assets/images/map-settings.png
  frontend/src/locales/en.json
Due: lint_frontend, frontend_unit_tests

Fix errors in e2e tests
  frontend/tests/e2e/add-measurement.spec.ts
  frontend/tests/e2e/export-presets.spec.ts
  frontend/tests/e2e/map-flows.spec.ts
Due: lint_frontend, frontend_unit_tests

Improve map-flows test structure
  frontend/tests/e2e/map-flows.spec.ts
Due: lint_frontend, frontend_unit_tests

Update layout and visibility for analysis components and buttons
  frontend/src/components/Analysis/DataAnalyticsCompare.vue
  frontend/src/components/MenuItems/SelectBar.vue
  frontend/src/views/ExportMapView.vue
  frontend/src/views/MapView.vue
Due: lint_frontend, frontend_unit_tests

add sensor aria label
  frontend/src/components/Measurement/TemperatureMetric.vue
Due: lint_frontend, frontend_unit_tests

Add proper spaces and linking to privacy policy, add margin below buttons for adding measurement
  frontend/src/components/MeasurementComponent.vue
  frontend/src/views/AboutView.vue
Due: lint_frontend, frontend_unit_tests

Add SPACE to privacy policy
  frontend/src/main.ts
  frontend/src/views/AboutView.vue
Due: lint_frontend, frontend_unit_tests

Upload paper
  .github/workflows/draft-pdf.yaml
  paper/Fig_1.png
  paper/Fig_2.png
  paper/paper.bib
  paper/paper.md
Due: none

Modify paper and bib
  paper/paper.bib
  paper/paper.md
Due: none

Enable git-lfs in checkout for draft PDF
  .github/workflows/draft-pdf.yaml
Due: none

Update PDF output path in draft-pdf.yaml
  .github/workflows/draft-pdf.yaml
Due: none

Update AI usage disclosure wording (to trigger workflow)
  paper/paper.md
Due: none

Modify table
  paper/paper.md
Due: none

Path conditions:
  build_backend_image: any of: requirements/**/*, dockerfile.backend
  build_frontend_image: any of: frontend/package.json, frontend/package-lock.json, dockerfile.frontend
  lint_backend: any of: backend/**/*
  lint_frontend: any of: frontend/**/*
  backend_unit_tests: any of: backend/**/*
  frontend_unit_tests: any of: frontend/**/*
