Repository rtaormina/waterwatch: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_backend_image, lint, backend_unit_tests, frontend_unit_tests

build_backend_image:
  stage: build_image
  image: docker:latest
  services:
  - docker:dind
  script:
  - echo $CI_REGISTRY_PASSWORD | docker login -u $CI_REGISTRY_USER --password-stdin $CI_REGISTRY
  - docker build -f dockerfile.backend -t $CI_REGISTRY_IMAGE:v0.1-backend .
  - docker push $CI_REGISTRY_IMAGE:v0.1-backend

lint:
  stage: lint
  image: ghcr.io/astral-sh/ruff:0.11.8-alpine
  script:
  - ruff check
  - ruff format --diff

backend_unit_tests:
  stage: testing
  image: $CI_REGISTRY_IMAGE:v0.1-backend
  script:
  - python -m coverage run --source='backend/' backend/manage.py test
  - python -m coverage report
  - python -m coverage xml
  coverage: /TOTAL.*\s+(\d+%)$/
  artifacts:
    expire_in: 1 week
    reports:
      coverage_report:
  ...

frontend_unit_tests:
  image: mcr.microsoft.com/playwright:v1.52.0-noble
  before_script:
  - cd frontend
  - npm ci
  stage: testing
  script:
  - npm run test:coverage
  coverage: /All files(?:[^|]*\|){4}\s*(\S+)/
  artifacts:
    expire_in: 1 week
    reports:
      coverage_report:
        coverage_format: cobertura
  ...

Add new database constraints and its migrations
  backend/measurements/migrations/0006_temperature_temperature_value_greater_than_zero_and_more.py
  backend/measurements/models.py
Due: lint, backend_unit_tests

Added troubleshooting for setup.sh not found
  README.md
Due: none

added to readme
  README.md
Due: none

clarify troubleshooting
  README.md
Due: none

Add testing for Temperature and Measurement serializers
  backend/measurement_collection/serializers.py
  backend/measurement_collection/tests.py
  backend/measurement_collection/tests/__init__.py
  backend/measurement_collection/tests/tests_serializers.py
Due: lint, backend_unit_tests

add querying based on location and information popup for campaign that provides detailed description
  backend/campaigns/views.py
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/CampaignBannerComponent.vue
  frontend/src/components/MeasurementComponent.vue
  frontend/src/views/MapView.vue
Due: lint, backend_unit_tests, frontend_unit_tests

Add tutorial view and related components; update navbar link
  frontend/src/components/NavBar.vue
  frontend/src/components/Text/Section.vue
  frontend/src/components/Text/SectionSplit.vue
  frontend/src/components/Text/SubSection.vue
  frontend/src/index.css
  frontend/src/router/index.js
  frontend/src/views/TutorialView.vue
  frontend/vite.config.ts
Due: frontend_unit_tests

extract logic to composable and add unit testing
  frontend/src/components/CampaignBannerComponent.vue
  frontend/src/composables/CampaignLogic.ts
  frontend/tests/unit/campaignBannerTest.spec.ts
Due: frontend_unit_tests

test backend, modify frontend tests so they are no longer flaky, convert to 24 hour time on frontend
  backend/campaigns/tests/tests_campaigns_endpoint.py
  frontend/src/composables/CampaignLogic.ts
  frontend/tests/unit/campaignBannerTest.spec.ts
Due: lint, backend_unit_tests, frontend_unit_tests

setup for login/logout view
  frontend/src/components/NavBar.vue
  frontend/src/composables/LoginLogic.ts
Due: frontend_unit_tests

Update Tutorial page placeholders
  frontend/src/views/TutorialView.vue
Due: frontend_unit_tests

Add test for the text section components
  frontend/package-lock.json
  frontend/package.json
  frontend/tests/unit/TextSections/TextSection.spec.ts
  frontend/tests/unit/TextSections/TextSectionSplit.spec.ts
  frontend/tests/unit/TextSections/TextSubSection.spec.ts
  frontend/vite.config.ts
  frontend/vitest.config.js
Due: frontend_unit_tests

add ip based fallback and fix countdown
  frontend/package-lock.json
  frontend/src/composables/CampaignLogic.ts
  frontend/src/views/MapView.vue
  frontend/tests/unit/campaignBannerTest.spec.ts
Due: frontend_unit_tests

split logic
  frontend/src/components/NavBar.vue
  frontend/src/composables/LoginLogic.ts
Due: frontend_unit_tests

make modal scrollable on text overflow, make bg white for dark mode
  frontend/src/components/CampaignBannerComponent.vue
  frontend/src/components/Modal.vue
  frontend/src/views/MapView.vue
Due: frontend_unit_tests

Allow Text split to contain up to three sections
  frontend/src/components/Text/SectionSplit.vue
Due: frontend_unit_tests

add VueUse
  frontend/package-lock.json
  frontend/package.json
Due: frontend_unit_tests

Make mobile be select and desktop have tabs to select section
  frontend/src/views/TutorialView.vue
Due: frontend_unit_tests

add basic export endpoint testing
  backend/measurement_export/tests/__init__.py
  backend/measurement_export/tests/tests_measurement_export.py
Due: lint, backend_unit_tests

remove extraneous test file
  backend/measurement_export/tests.py
Due: lint, backend_unit_tests

add backend measurement collection endpoint test
  backend/measurement_collection/tests.py
  backend/measurement_collection/tests/__init__.py
  backend/measurement_collection/tests/tests_measurement_collection.py
Due: lint, backend_unit_tests

fix navbar to not reload
  frontend/src/App.vue
  frontend/src/components/NavBar.vue
  frontend/src/components/SearchResultsComponent.vue
  frontend/src/composables/LoginLogic.ts
Due: frontend_unit_tests

extract Tabs component from Tutorial Page
  frontend/src/components/Text/Tabs.vue
  frontend/src/views/TutorialView.vue
Due: frontend_unit_tests

add testing for empty db
  backend/measurement_export/tests/tests_measurement_export.py
Due: lint, backend_unit_tests

Added dropdown menu and mobile support for logging in/out
  frontend/src/components/NavBar.vue
Due: frontend_unit_tests

fix screen size to full instead of screen to accommodate scroll bar
  frontend/index.html
  frontend/src/App.vue
Due: frontend_unit_tests

add margin to tutorial page
  frontend/src/components/Text/Tabs.vue
  frontend/src/views/TutorialView.vue
Due: frontend_unit_tests

fixed size and hover clicker
  frontend/src/components/NavBar.vue
Due: frontend_unit_tests

refactor campaign view and modify serializer to add campaigns
  backend/campaigns/views.py
  backend/measurement_collection/serializers.py
Due: lint, backend_unit_tests

add About page and update navigation link
  frontend/src/components/NavBar.vue
  frontend/src/components/Text/Tabs.vue
  frontend/src/router/index.js
  frontend/src/views/AboutView.vue
Due: frontend_unit_tests

bug fix in measurement collection and code cleanup
  backend/measurement_collection/serializers.py
  frontend/src/components/MeasurementComponent.vue
Due: lint, backend_unit_tests, frontend_unit_tests

added some text to the about page
  frontend/src/views/AboutView.vue
Due: frontend_unit_tests

setup testing extra metric
  backend/measurement_collection/tests/tests_measurement_collection.py
  backend/measurements/admin.py
  backend/measurements/metrics.py
  backend/measurements/models.py
  frontend/src/components/MeasurementComponent.vue
Due: lint, backend_unit_tests, frontend_unit_tests

fix navbar links
  frontend/src/components/NavBar.vue
Due: frontend_unit_tests

add cursor pointer to text tabs
  frontend/src/components/Text/Tabs.vue
Due: frontend_unit_tests

setup nginx to be a hidden /docs link
  README.md
  docker-compose.yaml
  nginx.conf
Due: none

fix typo
  README.md
Due: none

add initial documentation skeleton
  docs/backend.md
  docs/campaigns.md
  docs/contribution_guide.md
  docs/index.md
  docs/installation.md
  docs/measurement_analysis.md
  docs/measurement_collection.md
  docs/measurement_export.md
  docs/measurements.md
  docs/modules.md
  docs/troubleshooting.md
Due: none

Connect search and filter frontend to backend
  backend/api/urls.py
  backend/backend/settings.py
  backend/measurement_export/admin.py
  backend/measurement_export/migrations/0004_preset.py
  backend/measurement_export/models.py
  backend/measurement_export/serializers.py
  backend/measurement_export/urls.py
  backend/measurement_export/views.py
  backend/measurements/views.py
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/FilterPanelComponent.vue
  frontend/src/components/SearchBarComponent.vue
  frontend/src/components/SearchResultsComponent.vue
  frontend/src/composables/ExportDownloadLogic.ts
  frontend/src/composables/ExportFilterLogic.ts
  frontend/src/composables/ExportLocationLogic.ts
  frontend/src/composables/ExportPresetLogic.ts
  frontend/src/composables/ExportSearchLogic.ts
  frontend/src/composables/ExportTemperatureLogic.ts
  frontend/src/composables/ExportTimeLogic.ts
  frontend/src/views/ExportView.vue
  requirements/requirements.txt
Due: build_backend_image, lint, backend_unit_tests, frontend_unit_tests

Test the serializers for measurement export and fix dockstring
  backend/measurement_export/serializers.py
  backend/measurement_export/tests/tests_serializers.py
Due: lint, backend_unit_tests

Path conditions:
  build_backend_image: any of: requirements/**/*, dockerfile.backend, .gitlab-ci.yml
  lint: any of: backend/**/*
  backend_unit_tests: any of: backend/**/*
  frontend_unit_tests: any of: frontend/**/*
