Repository rtaormina/waterwatch: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_backend_image, build_frontend_image, lint_backend, lint_frontend, backend_unit_tests, frontend_unit_tests

Path conditions:
  build_backend_image: any of: requirements/**/*, dockerfile.backend
  build_frontend_image: any of: frontend/package.json, frontend/package-lock.json, dockerfile.frontend
  lint_backend: any of: backend/**/*
  lint_frontend: any of: frontend/**/*
  backend_unit_tests: any of: backend/**/*
  frontend_unit_tests: any of: frontend/**/*

make map refresh when measurements are submitted
  frontend/src/components/MeasurementComponent.vue
  frontend/src/views/MapView.vue
Due: lint_frontend, frontend_unit_tests

Add scaling to upper bound on legend, move legend scale and mode flag into a store
  frontend/src/components/HexMap.vue
  frontend/src/components/Legend.vue
  frontend/src/stores/LegendStore.ts
  frontend/src/views/MapView.vue
Due: lint_frontend, frontend_unit_tests

Fix legend tests
  frontend/tests/unit/ComponentTests/MapComponents/LegendComponentTest.spec.ts
Due: lint_frontend, frontend_unit_tests

add time and date options, modify tests and reuqest to measurement
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/Block.vue
  frontend/src/components/Measurement/TimeInput.vue
  frontend/src/components/MeasurementComponent.vue
  frontend/src/composables/MeasurementCollectionLogic.ts
  frontend/tests/unit/ComponentTests/MeasurementComponent/MeasurementComponent.spec.ts
Due: build_frontend_image, lint_frontend, frontend_unit_tests

remove console.log debug print from temperatureMetric
  frontend/src/components/Measurement/TemperatureMetric.vue
Due: lint_frontend, frontend_unit_tests

Refactor css styling of export page - update visuals of time options for mobile - add dark mode support to export page - fix scrollbar on export page
  frontend/src/App.vue
  frontend/src/components/Block.vue
  frontend/src/components/Export/FilterPanelComponent.vue
  frontend/src/components/Export/SearchBarComponent.vue
  frontend/src/components/Export/SearchResultsComponent.vue
  frontend/src/index.css
  frontend/src/views/ExportView.vue
Due: lint_frontend, frontend_unit_tests

have temperature be included by default.
  frontend/src/components/Export/FilterPanelComponent.vue
Due: lint_frontend, frontend_unit_tests

add darkmode to navbar
  frontend/src/components/NavBar.vue
Due: lint_frontend, frontend_unit_tests

update test to allow for default value to be true
  frontend/tests/unit/ComponentTests/ExportComponents/FilterPanelComponent.spec.ts
Due: lint_frontend, frontend_unit_tests

Make Legend work again
  frontend/src/views/ExportMapView.vue
Due: lint_frontend, frontend_unit_tests

update time picker to be in measurement block and use current date and time as default
  frontend/src/components/Measurement/MeasurementBlock.vue
  frontend/src/components/Measurement/TimeInput.vue
  frontend/src/components/MeasurementComponent.vue
  frontend/tests/unit/ComponentTests/MeasurementComponent/MeasurementComponent.spec.ts
Due: lint_frontend, frontend_unit_tests

feat: add 404 Page Not Found component and routing
  frontend/src/router/index.ts
  frontend/src/views/PageNotFound.vue
Due: lint_frontend, frontend_unit_tests

change paths to be found by tests
  frontend/src/components/Measurement/MeasurementBlock.vue
Due: lint_frontend, frontend_unit_tests

add mocks to tests
  frontend/src/components/Measurement/MeasurementBlock.vue
  frontend/tests/unit/ComponentTests/MeasurementComponent/MeasurementComponent.spec.ts
  frontend/tests/unit/ViewTests/MapViewTest.spec.ts
Due: lint_frontend, frontend_unit_tests

add datepicker to app to fix tests
  frontend/src/main.ts
  frontend/tests/unit/ComponentTests/MeasurementComponent/MeasurementComponent.spec.ts
Due: lint_frontend, frontend_unit_tests

add stubs to fix tests
  frontend/tests/unit/ComponentTests/MeasurementComponent/MeasurementComponent.spec.ts
  frontend/tests/unit/ViewTests/MapViewTest.spec.ts
Due: lint_frontend, frontend_unit_tests

Attempt to fix datepicker failed to resolve issue
  frontend/vitest.config.js
Due: lint_frontend, frontend_unit_tests

Add 404 Page Not Found tests
  frontend/src/views/PageNotFound.vue
  frontend/tests/unit/ViewTests/PageNotFound.spec.ts
Due: lint_frontend, frontend_unit_tests

update version
  .gitlab-ci.yml
Due: none

update docker file
  .gitlab-ci.yml
Due: none

restore block
  frontend/src/components/Block.vue
Due: lint_frontend, frontend_unit_tests

update vitest config to find vue files
  frontend/vitest.config.js
Due: lint_frontend, frontend_unit_tests

mock measurementBlock in failing tests
  frontend/tests/unit/ComponentTests/MeasurementComponent/MeasurementComponent.spec.ts
  frontend/tests/unit/ViewTests/MapViewTest.spec.ts
Due: lint_frontend, frontend_unit_tests

extract datepicker to separate file
  frontend/src/components/Measurement/MeasurementBlock.vue
  frontend/src/components/Measurement/TimeInput.vue
Due: lint_frontend, frontend_unit_tests

Add db pooling and redis caching
  .env.example
  backend/backend/settings.py
  backend/measurement_export/management/__init__.py
  backend/measurement_export/management/commands/__init__.py
  backend/measurement_export/management/commands/initialize_location_cache.py
  backend/measurement_export/signals.py
  backend/measurement_export/utils.py
  docker-compose.test.yaml
  docker-compose.yaml
  production/.env.sample
  production/docker-compose.prod.stack.yaml
  production/docker-compose.prod.yaml
  production/setup.sh
  requirements/requirements.txt
  scripts/setup.sh
  scripts/test-setup.sh
Due: build_backend_image, lint_backend, backend_unit_tests

move mocks to prevent being cleared
  frontend/tests/unit/ComponentTests/MeasurementComponent/MeasurementComponent.spec.ts
  frontend/tests/unit/ViewTests/MapViewTest.spec.ts
Due: lint_frontend, frontend_unit_tests

remove form field
  frontend/src/components/Measurement/MeasurementBlock.vue
  frontend/src/components/Measurement/TimeInput.vue
Due: lint_frontend, frontend_unit_tests

update to support better mobile view
  frontend/src/views/PageNotFound.vue
Due: lint_frontend, frontend_unit_tests

refactor: remove media queries for better responsiveness
  frontend/src/components/Export/FilterPanelComponent.vue
  frontend/src/components/LoginComponent.vue
  frontend/src/components/NavBar.vue
  frontend/src/views/ExportView.vue
  frontend/src/views/MapView.vue
Due: lint_frontend, frontend_unit_tests

add skeleton of manual tests and organize manual tests
  README.md
  docs/manual_testing/admin/index.md
  docs/manual_testing/admin/tc-admin-001.md
  docs/manual_testing/analysis/index.md
  docs/manual_testing/analysis/tc-analysis-001.md
  docs/manual_testing/analysis/tc-analysis-002.md
  docs/manual_testing/analysis/tc-analysis-003.md
  docs/manual_testing/collection/index.md
  docs/manual_testing/collection/tc-collection-001.md
  docs/manual_testing/collection/tc-collection-002.md
  docs/manual_testing/export/index.md
  docs/manual_testing/export/tc-export-001.md
  docs/manual_testing/export/tc-export-002.md
  docs/manual_testing/export/tc-export-003.md
  docs/manual_testing/export/tc-export-004.md
  docs/manual_testing/index.md
  docs/manual_testing/manual_test.md
  docs/manual_testing/map/index.md
  docs/manual_testing/map/tc-map-001.md
  docs/manual_testing/map/tc-map-002.md
Due: none

change static files to be server from /static and /media instead of /api/static and /api/media
  backend/backend/settings.py
Due: lint_backend, backend_unit_tests

add manual tests for admin, map, collection, and export
  docs/manual_testing/admin/tc-admin-002.md
  docs/manual_testing/collection/tc-collection-002.md
  docs/manual_testing/export/tc-export-003.md
  docs/manual_testing/map/tc-map-001.md
Due: none

do analysis manual tests
  docs/manual_testing/analysis/tc-analysis-001.md
  docs/manual_testing/analysis/tc-analysis-002.md
  docs/manual_testing/analysis/tc-analysis-003.md
Due: none

do map test, fix readme typo, fix diagrams
  README.md
  docs/assets/component.png
  docs/assets/container.png
  docs/manual_testing/map/tc-map-002.md
Due: none

fix broken links, fix typos in readme and across docs, fix readme and installation formatting
  README.md
  docs/development/installation.md
  docs/index.md
  docs/manual_testing/admin/index.md
  docs/manual_testing/analysis/index.md
  docs/manual_testing/export/index.md
  docs/manual_testing/manual_test.md
Due: none

add translation for the turial page
  frontend/src/locales/en.json
  frontend/src/locales/nl.json
Due: lint_frontend, frontend_unit_tests

add aria labels, email address for registration, modify info text for time range selection
  frontend/src/components/Legend.vue
  frontend/src/components/LoginComponent.vue
  frontend/src/components/MapMenu.vue
  frontend/src/views/MapView.vue
Due: lint_frontend, frontend_unit_tests

add aria labels to adding measurement sidebar
  frontend/src/components/Measurement/DurationInput.vue
  frontend/src/components/Measurement/TemperatureMetric.vue
  frontend/src/components/Measurement/TimeInput.vue
  frontend/src/components/SideBar.vue
Due: lint_frontend, frontend_unit_tests

update manual tests for exporting, reformat manual testing page in docs and fix broken link
  docs/manual_testing/admin/tc-admin-002.md
  docs/manual_testing/export/index.md
  docs/manual_testing/export/tc-export-003.md
  docs/manual_testing/export/tc-export-004.md
  docs/manual_testing/export/tc-export-005.md
  docs/manual_testing/index.md
  docs/manual_testing/manual_test.md
Due: none

Make buttons behaviour match
  frontend/src/components/Export/SearchResultsComponent.vue
Due: lint_frontend, frontend_unit_tests
