Repository rtaormina/waterwatch: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_backend_image, lint, backend_unit_tests, frontend_unit_tests

build_backend_image:
  stage: build_image
  image: docker:latest
  services:
  - docker:dind
  script:
  - echo $CI_REGISTRY_PASSWORD | docker login -u $CI_REGISTRY_USER --password-stdin $CI_REGISTRY
  - docker build -f dockerfile.backend -t $CI_REGISTRY_IMAGE:v0.1-backend .
  - docker push $CI_REGISTRY_IMAGE:v0.1-backend

lint:
  stage: lint
  image: ghcr.io/astral-sh/ruff:0.11.8-alpine
  script:
  - ruff check
  - ruff format --diff

backend_unit_tests:
  stage: testing
  image: $CI_REGISTRY_IMAGE:v0.1-backend
  script:
  - python -m coverage run --source='backend/' backend/manage.py test
  - python -m coverage report
  - python -m coverage xml
  coverage: /TOTAL.*\s+(\d+%)$/
  artifacts:
    expire_in: 1 week
    reports:
      coverage_report:
  ...

frontend_unit_tests:
  image: mcr.microsoft.com/playwright:v1.52.0-noble
  before_script:
  - cd frontend
  - npm ci
  stage: testing
  script:
  - npm run test:coverage
  coverage: /All files(?:[^|]*\|){4}\s*(\S+)/
  artifacts:
    expire_in: 1 week
    reports:
      coverage_report:
        coverage_format: cobertura
  ...

Test the campaign functionality of the serializers, fix bug related to assigning campagins
  backend/measurement_collection/serializers.py
  backend/measurement_collection/tests/tests_serializers.py
Due: lint, backend_unit_tests

add manual testing section
  docs/index.md
  docs/manual_test.md
  docs/manual_testing/template.md
Due: none

Add eslint and prettier configurations
  frontend/.prettierrc
  frontend/eslint.config.js
  frontend/package-lock.json
  frontend/package.json
Due: frontend_unit_tests

add link to manual test page
  docs/manual_test.md
Due: none

Add eslint to pre-commit hooks
  .pre-commit-config.yaml
Due: none

add messages to packages
  docs/campaigns.md
  docs/contribution_guide.md
  docs/measurement_analysis.md
  docs/measurement_collection.md
  docs/measurement_export.md
  docs/measurements.md
Due: none

add spot for db schema and testing in contrib guide
  docs/contribution_guide.md
  docs/modules.md
  docs/schema.md
Due: none

created tests
  backend/logs/debug.log
  backend/measurement_collection/tests/test_extra_metric_table.py
  backend/measurement_collection/tests/tests_measurement_collection.py
  backend/measurements/admin.py
  backend/measurements/metrics.py
  backend/measurements/models.py
  setup.sh
Due: lint, backend_unit_tests

Modify eslint config
  frontend/eslint.config.js
Due: frontend_unit_tests

edit api documentation pages
  docs/admin_api.md
  docs/api_specs.md
  docs/campaigns_api.md
  docs/contribution_guide.md
  docs/measurements_api.md
  docs/users_api.md
Due: none

switch to autoapi
  docs/api_specs.md
  docs/backend.md
  docs/campaigns.md
  docs/conf.py
  docs/index.md
  docs/measurement_analysis.md
  docs/measurement_collection.md
  docs/measurement_export.md
  docs/measurements.md
  docs/modules.md
Due: none

Add TypeDoc to linter, update dependencies
  frontend/eslint.config.js
  frontend/package-lock.json
  frontend/package.json
Due: frontend_unit_tests

Fix linting issues in frontend/components/Text
  frontend/src/components/Text/Section.vue
  frontend/src/components/Text/SectionSplit.vue
  frontend/src/components/Text/SubSection.vue
  frontend/src/components/Text/Tabs.vue
Due: frontend_unit_tests

Hexagonal visuals using leaflet.hexagonal.js and using leaflet-d3
  frontend/index.html
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.vue
  frontend/src/assets/leaflet.hexagonal.css
  frontend/src/assets/leaflet.hexagonal.js
  frontend/src/components/HexMap.vue
  frontend/src/views/MapView.vue
Due: frontend_unit_tests

Setup hexagonal visualisation using leaflet
  frontend/src/assets/leaflet.hexagonal.css
  frontend/src/assets/leaflet.hexagonal.js
  frontend/src/components/HexMap.vue
Due: frontend_unit_tests

edit template for autogenerated documentation, enhanced contribution guide, added issue templates
  .gitlab/issue_templates/bugreport.md
  .gitlab/issue_templates/featuresuggestions.md
  docs/admin_api.md
  docs/api_specs.md
  docs/conf.py
  docs/contribution_guide.md
  docs/diagrams.md
  docs/index.md
  docs/installation.md
  docs/manual_test.md
  docs/templates/index.rst
  docs/templates/python/attribute.rst
  docs/templates/python/class.rst
  docs/templates/python/data.rst
  docs/templates/python/exception.rst
  docs/templates/python/function.rst
  docs/templates/python/method.rst
  docs/templates/python/module.rst
  docs/templates/python/package.rst
  docs/templates/python/property.rst
  docs/troubleshooting.md
  requirements/dev-requirements.txt
Due: build_backend_image

Refactor HexMap data handling and adjust map zoom level
  frontend/src/components/HexMap.vue
  frontend/src/views/MapView.vue
Due: frontend_unit_tests

add bounds to map
  frontend/src/components/HexMap.vue
Due: frontend_unit_tests

edit readme to include more documentation info, fix nginx routing, fix issue templates
  .gitlab/issue_templates/bugreport.md
  .gitlab/issue_templates/featuresuggestions.md
  .gitlab/issue_templates/issue.md
  README.md
  nginx.conf
Due: none

Update pre-commit version, format hook names, fix issue with eslint not finding files
  .pre-commit-config.yaml
Due: none

Fix linting issues in frontend/src/views
  frontend/src/views/AboutView.vue
  frontend/src/views/ExportView.vue
  frontend/src/views/MapView.vue
  frontend/src/views/TutorialView.vue
Due: frontend_unit_tests

Fix linting issues in composables
  frontend/src/composables/CampaignLogic.ts
  frontend/src/composables/LocationFallback.ts
  frontend/src/composables/LoginLogic.ts
  frontend/src/composables/MeasurementCollectionLogic.ts
  frontend/src/composables/MeasurementExportLogic.ts
  frontend/src/composables/PermissionsLogic.ts
  frontend/src/composables/useSession.ts
Due: frontend_unit_tests

first generation of frontend docs
  README.md
  docs/README.md
  docs/conf.py
  docs/index.md
  docs/ts/CampaignLogic/README.md
  docs/ts/CampaignLogic/functions/formatDateTime.md
  docs/ts/CampaignLogic/functions/updateCountdown.md
  docs/ts/LocationFallback/README.md
  docs/ts/LocationFallback/functions/createMap.md
  docs/ts/LocationFallback/functions/createMarker.md
  docs/ts/LocationFallback/functions/createOSMLayer.md
  docs/ts/LocationFallback/functions/getLocateControl.md
  docs/ts/LocationFallback/functions/initializeMap.md
  docs/ts/LoginLogic/README.md
  docs/ts/LoginLogic/functions/useLogin.md
  docs/ts/LoginLogic/variables/loggedIn.md
  docs/ts/MeasurementCollectionLogic/README.md
  docs/ts/MeasurementCollectionLogic/functions/createPayload.md
  docs/ts/MeasurementCollectionLogic/functions/onSensorInput.md
  docs/ts/MeasurementCollectionLogic/functions/validateInputs.md
  docs/ts/MeasurementCollectionLogic/functions/validateTemp.md
  docs/ts/MeasurementCollectionLogic/functions/validateTime.md
  docs/ts/MeasurementExportLogic/README.md
  docs/ts/MeasurementExportLogic/functions/exportData.md
  docs/ts/MeasurementExportLogic/variables/format.md
  docs/ts/PermissionsLogic/README.md
  docs/ts/PermissionsLogic/functions/permissionsLogic.md
  docs/ts/README.md
  docs/ts/modules.md
  docs/ts/useSession/README.md
  docs/ts/useSession/functions/useSession.md
  frontend/src/composables/CampaignLogic.ts
  frontend/src/composables/MeasurementCollectionLogic.ts
  frontend/src/shims-vue.d.ts
  frontend/tsconfig.app.json
  frontend/tsconfig.json
  package-lock.json
  package.json
  typedoc.json
Due: frontend_unit_tests

Fix linting issues in components
  frontend/src/components/CampaignBannerComponent.vue
  frontend/src/components/FilterPanelComponent.vue
  frontend/src/components/HexMap.vue
  frontend/src/components/LocationFallback.vue
  frontend/src/components/LoginComponent.vue
  frontend/src/components/MeasurementComponent.vue
  frontend/src/components/Modal.vue
  frontend/src/components/NavBar.vue
  frontend/src/components/SearchBarComponent.vue
  frontend/src/components/SearchResultsComponent.vue
Due: frontend_unit_tests

Fix linting issues in other files
  frontend/src/App.vue
  frontend/src/main.ts
  frontend/src/router/index.js
  frontend/src/vite-env.d.ts
Due: frontend_unit_tests

Add proper support for fahrenheit
  backend/measurement_collection/serializers.py
  backend/measurement_export/serializers.py
  backend/measurement_export/views.py
  backend/measurements/migrations/0007_remove_measurement_timestamp_local_and_more.py
  backend/measurements/models.py
  frontend/src/components/FilterPanelComponent.vue
  frontend/src/components/SearchResultsComponent.vue
  frontend/src/composables/ExportDownloadLogic.ts
  frontend/src/composables/ExportFilterLogic.ts
  frontend/src/composables/ExportSearchLogic.ts
  frontend/src/composables/MeasurementCollectionLogic.ts
  frontend/src/router/index.js
  frontend/src/views/ExportView.vue
  requirements/requirements.txt
Due: build_backend_image, lint, backend_unit_tests, frontend_unit_tests

add development section and modify manual testing section
  docs/contribution_guide.md
  docs/development.md
  docs/index.md
  docs/manual_test.md
  docs/manual_testing/template.md
Due: none

Setup own image for frontend CI pipeline
  .gitlab-ci.yml
  dockerfile.frontend
Due: build_backend_image

Add TypeDoc to frontend
  frontend/src/composables/LocationFallback.ts
Due: frontend_unit_tests

Copy package-lock.json into frontend image
  .gitlab-ci.yml
  dockerfile.frontend
Due: build_backend_image

modify table of contents to follow myst markdown
  docs/contribution_guide.md
  docs/development.md
Due: none

fix small typo in manual test section
  docs/manual_test.md
Due: none

generate docs file
  README.md
  docs/index.md
  docs/vue-components/frontend/src/components/CampaignBannerComponent.md
  docs/vue-components/frontend/src/components/FilterPanelComponent.md
  docs/vue-components/frontend/src/components/HexMap.md
  docs/vue-components/frontend/src/components/LocationFallback.md
  docs/vue-components/frontend/src/components/LoginComponent.md
  docs/vue-components/frontend/src/components/MeasurementComponent.md
  docs/vue-components/frontend/src/components/Modal.md
  docs/vue-components/frontend/src/components/NavBar.md
  docs/vue-components/frontend/src/components/SearchBarComponent.md
  docs/vue-components/frontend/src/components/SearchResultsComponent.md
  docs/vue-components/frontend/src/components/Text/Section.md
  docs/vue-components/frontend/src/components/Text/SectionSplit.md
  docs/vue-components/frontend/src/components/Text/SubSection.md
  docs/vue-components/frontend/src/components/Text/Tabs.md
  docs/vue-components/modules.md
  docs/vue-views/frontend/src/views/AboutView.md
  docs/vue-views/frontend/src/views/ExportView.md
  docs/vue-views/frontend/src/views/MapView.md
  docs/vue-views/frontend/src/views/TutorialView.md
  docs/vue-views/modules.md
  frontend/src/composables/docs/ts/README.md
  frontend/src/composables/docs/ts/globals.md
  generate_doc.sh
Due: frontend_unit_tests

create frontend doc folder
  docs/conf.py
  docs/frontend_docs.md
  docs/index.md
Due: none

change doc
  docs/conf.py
  generate_doc.sh
Due: none

added ot readme
  README.md
  generate_doc.sh
Due: none

Bug fixes and refactoring composables/components for better separation of concerns; add filtering by water source
  backend/measurement_export/views.py
  frontend/src/components/FilterPanelComponent.vue
  frontend/src/components/SearchBarComponent.vue
  frontend/src/components/SearchResultsComponent.vue
  frontend/src/composables/ExportDownloadLogic.ts
  frontend/src/composables/ExportFilterLogic.ts
  frontend/src/composables/ExportPresetLogic.ts
  frontend/src/composables/useExportData.ts
  frontend/src/composables/useFilters.ts
  frontend/src/composables/useSearch.ts
  frontend/src/views/ExportView.vue
Due: lint, backend_unit_tests, frontend_unit_tests

Add linting to the pipeline
  .gitlab-ci.yml
Due: build_backend_image

fix compile
  docs/ts/composables/CampaignLogic/functions/formatDateTime.md
  docs/ts/composables/CampaignLogic/functions/updateCountdown.md
  docs/ts/composables/LocationFallback/functions/createMap.md
  docs/ts/composables/LocationFallback/functions/createMarker.md
  docs/ts/composables/LocationFallback/functions/createOSMLayer.md
  docs/ts/composables/LocationFallback/functions/getLocateControl.md
  docs/ts/composables/LocationFallback/functions/initializeMap.md
  docs/ts/composables/LoginLogic/functions/useLogin.md
  docs/ts/composables/MeasurementCollectionLogic/functions/createPayload.md
  docs/ts/composables/MeasurementCollectionLogic/functions/onSensorInput.md
  docs/ts/composables/MeasurementCollectionLogic/functions/validateInputs.md
  docs/ts/composables/MeasurementCollectionLogic/functions/validateTemp.md
  docs/ts/composables/MeasurementCollectionLogic/functions/validateTime.md
  docs/ts/composables/MeasurementExportLogic/functions/exportData.md
  docs/ts/composables/PermissionsLogic/functions/permissionsLogic.md
  docs/ts/composables/useSession/functions/useSession.md
  docs/ts/modules.md
  docs/ts/router/README.md
  docs/ts/router/variables/default.md
  docs/ts/vite-env/README.md
  docs/ts/vite-env/variables/default.md
  docs/vue-components/frontend/src/components/HexMap.md
  frontend/src/composables/LoginLogic.ts
  frontend/src/router/index.ts
  frontend/src/shims-vue.d.ts
Due: frontend_unit_tests

Path conditions:
  build_backend_image: any of: requirements/**/*, dockerfile.backend, .gitlab-ci.yml
  lint: any of: backend/**/*
  backend_unit_tests: any of: backend/**/*
  frontend_unit_tests: any of: frontend/**/*
