Repository rtaormina/waterwatch: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_backend_image, build_frontend_image, lint, backend_unit_tests, frontend_unit_tests

build_backend_image:
  stage: build_image
  image: docker:latest
  services:
  - docker:dind
  script:
  - echo $CI_REGISTRY_PASSWORD | docker login -u $CI_REGISTRY_USER --password-stdin $CI_REGISTRY
  - docker build -f dockerfile.backend -t $CI_REGISTRY_IMAGE:v0.1-backend .
  - docker push $CI_REGISTRY_IMAGE:v0.1-backend

build_frontend_image:
  stage: build_image
  image: docker:latest
  services:
  - docker:dind
  script:
  - echo $CI_REGISTRY_PASSWORD | docker login -u $CI_REGISTRY_USER --password-stdin $CI_REGISTRY
  - docker build -f dockerfile.frontend -t $CI_REGISTRY_IMAGE:v0.1-frontend .
  - docker push $CI_REGISTRY_IMAGE:v0.1-frontend

lint:
  stage: lint
  image: ghcr.io/astral-sh/ruff:0.11.8-alpine
  script:
  - ruff check
  - ruff format --diff

backend_unit_tests:
  stage: testing
  image: $CI_REGISTRY_IMAGE:v0.1-backend
  script:
  - python backend/manage.py test

frontend_unit_tests:
  stage: testing
  image: $CI_REGISTRY_IMAGE:v0.1-frontend
  script:
  - cd frontend
  - npm run test

change form validation for time waited and refactor, fix issue with saving to database due to variable names
  frontend/src/components/MeasurementComponent.vue
  frontend/src/composables/MeasurementCollectionLogic.ts
  frontend/tests/unit/measurement-component.spec.ts
Due: frontend_unit_tests

Fix bugs in tests
  backend/measurements/tests/tests_temperature.py
Due: lint, backend_unit_tests

Modify clean method for Measurements
  backend/measurements/models.py
Due: lint, backend_unit_tests

Fix migrations on the branch
  backend/campaigns/migrations/0001_initial.py
  backend/campaigns/migrations/__init__.py
  backend/measurement_analysis/migrations/__init__.py
  backend/measurement_collection/migrations/__init__.py
  backend/measurement_export/migrations/__init__.py
  backend/measurements/migrations/0001_initial.py
  backend/measurements/migrations/__init__.py
Due: lint, backend_unit_tests

Enhance Django settings with logging configuration, update frontend structure, and improve mobile responsiveness in components
  .env.example
  .gitlab-ci-local/.gitignore
  .gitlab-ci.yml
  backend/backend/settings.py
  backend/logs/debug.log
  backend/logs/info.log
  backend/measurements/models.py
  backend/requirements.txt
  docker-compose.yaml
  frontend/dockerfile
  frontend/package-lock.json
  frontend/package.json
  frontend/playwright.config.ts
  frontend/src/App.vue
  frontend/src/assets/burger-bar.png
  frontend/src/components/LoginComponent.vue
  frontend/src/components/NavBar.vue
  frontend/src/views/HomeView.vue
  frontend/tests/unit/loginComponentTest.ts
  frontend/vite.config.ts
  nginx.conf
  requirements/requirements.txt
Due: build_backend_image, build_frontend_image, lint, backend_unit_tests, frontend_unit_tests

Add persistnace tests and database constraint for Temperature
  backend/measurements/models.py
  backend/measurements/tests/tests_temperature.py
Due: lint, backend_unit_tests

add popup to check for faulty measurement values, changed testing, prevent temperature values that are too high and 00:00:00 time waited
  frontend/src/components/MeasurementComponent.vue
  frontend/src/components/Modal.vue
  frontend/src/composables/MeasurementCollectionLogic.ts
  frontend/tests/unit/measurement-component.spec.ts
Due: frontend_unit_tests

Change database constraints for temperatures, create tests for measurements
  backend/measurements/models.py
  backend/measurements/tests/tests_measurement.py
  backend/measurements/tests/tests_temperature.py
Due: lint, backend_unit_tests

refactored to use composables
  frontend/src/components/LoginComponent.vue
  frontend/src/composables/LoginLogic.ts
Due: frontend_unit_tests

added test for fetch
  frontend/src/components/LoginComponent.vue
  frontend/tests/unit/loginComponentTest.ts
Due: frontend_unit_tests

full test suite for login component logic
  frontend/tests/unit/loginComponentTest.spec.ts
Due: frontend_unit_tests

add suggested changes to MR
  .gitignore
  .gitlab-ci-local/.gitignore
  backend/backend/urls.py
  backend/measurements/migrations/0005_delete_locationtest_alter_temperature_measurement.py
  frontend/vite.config.ts
Due: lint, backend_unit_tests, frontend_unit_tests

Add persistance tests for Campaigns
  backend/campaigns/tests.py
  backend/campaigns/tests/__init__.py
  backend/campaigns/tests/tests_campaigns.py
  backend/measurements/tests/tests_temperature.py
Due: lint, backend_unit_tests

Added initial Map integration with leaflet
  frontend/index.html
  frontend/package-lock.json
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/App.vue
  frontend/src/assets/WATERWATCH_Logo.svg
  frontend/src/main.ts
  frontend/src/router/index.js
  frontend/src/style.css
  frontend/src/views/MapView.vue
Due: build_frontend_image, frontend_unit_tests

Refactor map integration: create LocationFallback component and update MapView to use it
  frontend/src/components/LocationFallback.vue
  frontend/src/main.ts
  frontend/src/views/MapView.vue
Due: frontend_unit_tests

fix typo
  backend/measurements/models.py
Due: lint, backend_unit_tests

Add tests for exporting data (frontend business logic); add fonts and set global font to NotoSans
  backend/measurement_export/views.py
  frontend/package-lock.json
  frontend/src/assets/NotoSans-Black.ttf
  frontend/src/assets/NotoSans-BlackItalic.ttf
  frontend/src/assets/NotoSans-Bold.ttf
  frontend/src/assets/NotoSans-BoldItalic.ttf
  frontend/src/assets/NotoSans-ExtraBold.ttf
  frontend/src/assets/NotoSans-ExtraBoldItalic.ttf
  frontend/src/assets/NotoSans-ExtraLight.ttf
  frontend/src/assets/NotoSans-ExtraLightItalic.ttf
  frontend/src/assets/NotoSans-Italic.ttf
  frontend/src/assets/NotoSans-Light.ttf
  frontend/src/assets/NotoSans-LightItalic.ttf
  frontend/src/assets/NotoSans-Medium.ttf
  frontend/src/assets/NotoSans-MediumItalic.ttf
  frontend/src/assets/NotoSans-Regular.ttf
  frontend/src/assets/NotoSans-SemiBold.ttf
  frontend/src/assets/NotoSans-SemiBoldItalic.ttf
  frontend/src/assets/NotoSans-Thin.ttf
  frontend/src/assets/NotoSans-ThinItalic.ttf
  frontend/src/components/FilterPanelComponent.vue
  frontend/src/components/SearchResultsComponent.vue
  frontend/src/composables/MeasurementExportLogic.ts
  frontend/src/index.css
  frontend/src/views/ExportView.vue
  frontend/tailwind.config.js
  frontend/tests/unit/measurement-export.spec.ts
Due: lint, backend_unit_tests, frontend_unit_tests

fix mobile navbar look and made login go to home
  frontend/src/components/NavBar.vue
  frontend/src/router/index.js
Due: frontend_unit_tests

unitalisized the username and updated navbar on mobile
  frontend/src/components/LoginComponent.vue
  frontend/src/components/NavBar.vue
Due: frontend_unit_tests

fix bug with submitting temp out of normal range
  backend/measurements/migrations/0001_initial.py
  backend/measurements/migrations/0003_alter_measurement_campaigns.py
  backend/measurements/migrations/0004_locationtest.py
  backend/measurements/migrations/0005_delete_locationtest_alter_temperature_measurement.py
  frontend/src/components/MeasurementComponent.vue
Due: lint, backend_unit_tests, frontend_unit_tests

Add spin.js for loading spinner in LocationFallback component
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/LocationFallback.vue
Due: build_frontend_image, frontend_unit_tests

added permissions access
  backend/api/urls.py
  backend/api/views.py
  frontend/src/composables/PermissionsLogic.ts
  frontend/src/views/HomeView.vue
Due: lint, backend_unit_tests, frontend_unit_tests

Adjusted export view and nav bar to me compatible
  frontend/src/components/NavBar.vue
  frontend/src/views/ExportView.vue
Due: frontend_unit_tests

Enhance LocateControl: improve UI and error handling, add IP location fallback
  frontend/src/components/LocationFallback.vue
Due: frontend_unit_tests

Make changes according to MR review
  .gitignore
  .gitlab-ci-local/.gitignore
  frontend/src/components/NavBar.vue
  frontend/vite.config.ts
Due: frontend_unit_tests

Move data validation to serializers, fix searching to admin page
  backend/measurement_collection/serializers.py
  backend/measurements/admin.py
  backend/measurements/models.py
Due: lint, backend_unit_tests

Rewrite tests to reflect changes in data validation
  backend/measurements/tests/tests_measurement.py
  backend/measurements/tests/tests_temperature.py
Due: lint, backend_unit_tests

Refactor LocationFallback component and update MeasurementComponent and MapView to utilize new functionality
  frontend/src/components/LocationFallback.vue
  frontend/src/components/MeasurementComponent.vue
  frontend/src/composables/LocationFallback.ts
  frontend/src/views/MapView.vue
Due: frontend_unit_tests

remove unneeded argument in LocationFallback
  frontend/src/components/LocationFallback.vue
  frontend/src/composables/LocationFallback.ts
Due: frontend_unit_tests

Refactor MapView layout
  frontend/src/views/MapView.vue
Due: frontend_unit_tests

add navbar to map
  frontend/src/components/NavBar.vue
  frontend/src/views/MapView.vue
Due: frontend_unit_tests

Fix login page authentication
  frontend/src/router/index.js
Due: frontend_unit_tests

Fix bug with high width to height ratio in responsiveness
  frontend/src/components/FilterPanelComponent.vue
  frontend/src/components/SearchResultsComponent.vue
  frontend/src/views/ExportView.vue
Due: frontend_unit_tests

Fix linting issue
  backend/measurement_export/serializers.py
Due: lint, backend_unit_tests

remove example tests and add basic end to end testing for measurement page, fix bug with minutes and seconds
  frontend/src/components/MeasurementComponent.vue
  frontend/src/composables/MeasurementCollectionLogic.ts
  frontend/tests/e2e/example.spec.ts
  frontend/tests/e2e/measurement-component.spec.ts
  frontend/tests/unit/unit-example.spec.ts
Due: frontend_unit_tests

Switch boolean value for flags, modify admin panel url
  backend/backend/settings.py
  backend/measurement_collection/serializers.py
  backend/measurements/migrations/0002_alter_measurement_flag.py
  backend/measurements/models.py
Due: lint, backend_unit_tests

Add other export options (removing .xlsx)
  backend/measurement_export/factories.py
  backend/measurement_export/strategies.py
  backend/measurement_export/views.py
  frontend/src/components/SearchResultsComponent.vue
  frontend/src/composables/MeasurementExportLogic.ts
  frontend/vite.config.ts
  requirements/requirements.txt
Due: build_backend_image, lint, backend_unit_tests, frontend_unit_tests

Fix test to replace json with xlsx since xlsx was removed
  frontend/tests/unit/measurement-export.spec.ts
Due: frontend_unit_tests

Remove corsheaders app
  backend/backend/settings.py
Due: lint, backend_unit_tests

Path conditions:
  build_backend_image: any of: requirements/**/*, dockerfile.backend, .gitlab-ci.yml
  build_frontend_image: any of: frontend/package.json, dockerfile.frontend, .gitlab-ci.yml
  lint: any of: backend/**/*
  backend_unit_tests: any of: backend/**/*
  frontend_unit_tests: any of: frontend/**/*
