Repository rtaormina/waterwatch: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_backend_image, build_frontend_image, lint_backend, lint_frontend, backend_unit_tests, frontend_unit_tests

.gitlab-ci.yml:

workflow:
  rules:
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
      when: always

stages:
  - build_images
  - linting
  - testing
#  - e2e_tests

# Build Docker Image for Backend
build_backend_image:
  stage: build_images
  image: docker:latest
  services:
    - docker:dind
  # Only if requirements files changed
  rules:
    - changes:
        - requirements/**/*
        - dockerfile.backend
  # Log in to Docker registry and build the image
  script:
    - echo $CI_REGISTRY_PASSWORD | docker login -u $CI_REGISTRY_USER --password-stdin $CI_REGISTRY
    - docker build -f dockerfile.backend -t $CI_REGISTRY_IMAGE:v0.2-backend .
    - docker push $CI_REGISTRY_IMAGE:v0.2-backend

# Build Docker Image for Frontend
build_frontend_image:
  stage: build_images
  image: docker:latest
  services:
    - docker:dind
  # Only if requirements files changed
  rules:
    - changes:
        - frontend/package.json
        - frontend/package-lock.json
        - dockerfile.frontend
  # Log in to Docker registry and build the image
  script:
    - echo $CI_REGISTRY_PASSWORD | docker login -u $CI_REGISTRY_USER --password-stdin $CI_REGISTRY
    - docker build -f dockerfile.frontend -t $CI_REGISTRY_IMAGE:v0.2-frontend .
    - docker push $CI_REGISTRY_IMAGE:v0.2-frontend

# Setup for operations on the frontend
.frontend_setup: &frontend_setup
  image: $CI_REGISTRY_IMAGE:v0.2-frontend
  before_script:
    - cd frontend
    - ln -s /dependencies/node_modules ./node_modules
    - cp /dependencies/package-lock.json ./
  # Run only if files in folder frontend changed
  rules:
    - changes:
        - frontend/**/*

# Linting & Formatting
lint_backend:
  stage: linting
  image: ghcr.io/astral-sh/ruff:0.11.8-alpine
  script:
    - ruff check
    - ruff format --diff
  # Run only if files in folder backend changed
  rules:
    - changes:
        - backend/**/*

lint_frontend:
  <<: *frontend_setup
  stage: linting
  script:
    - npm run lint
  # Run only if files in folder frontend changed
  rules:
    - changes:
        - frontend/**/*

# Unit Tests - Backend
backend_unit_tests:
  stage: testing
  image: $CI_REGISTRY_IMAGE:v0.2-backend
  services:
    - name: postgis/postgis:latest
      alias: postgis
  variables:
    POSTGRES_HOST: postgis
  script:
    - cd backend
    - python -m coverage run manage.py test
    - python -m coverage report
    - python -m coverage xml
  coverage: '/TOTAL.*\s+(\d+%)$/'
  artifacts:
    # https://docs.gitlab.com/ee/ci/yaml/index.html#artifactsexpire_in
    expire_in: 3 days

    # https://docs.gitlab.com/ci/testing/code_coverage/
    reports:
      coverage_report:
        coverage_format: cobertura
        path: backend/coverage.xml
  # Run only if files in folder backend changed
  rules:
    - changes:
        - backend/**/*

# Unit Tests - Frontend
frontend_unit_tests:
  <<: *frontend_setup
  stage: testing
  script:
    - npm run test:coverage
  coverage: '/All files(?:[^|]*\|){4}\s*(\S+)/'
  artifacts:
    # https://docs.gitlab.com/ee/ci/yaml/index.html#artifactsexpire_in
    expire_in: 3 days

    # https://docs.gitlab.com/ee/ci/testing/test_coverage_visualization.html
    reports:
      coverage_report:
        coverage_format: cobertura
        path: frontend/coverage/cobertura-coverage.xml
  # Run only if files in folder frontend changed
  rules:
    - changes:
        - frontend/**/*

# E2E Tests - Frontend
# frontend_e2e_tests:
#   <<: *frontend_test_setup
#   stage: e2e_tests
#   script:
#     - npm run e2e
#   # Run only if files in folder frontend changed
#   rules:
#     - if: $CI_MERGE_REQUEST_TARGET_BRANCH_NAME == "dev" || $CI_MERGE_REQUEST_TARGET_BRANCH_NAME == "main"
#       when: on_success

Update README and production setup for improved deployment instructions
  README.md
  production/docker-compose.prod.yaml
  production/production.nginx
  production/setup.sh
Due: none

Set up test docker compose file and script for e2e tests
  .gitignore
  README.md
  backend/measurements/views.py
  docker-compose.test.yaml
  frontend/package-lock.json
  frontend/package.json
  package-lock.json
  package.json
  test-reset-db.sh
  test-setup.sh
Due: build_frontend_image, lint_backend, lint_frontend, backend_unit_tests, frontend_unit_tests

basic e2e tests for exporting, only one integration test
  frontend/src/components/FilterPanelComponent.vue
  frontend/src/components/SearchResultsComponent.vue
  frontend/src/composables/useFilters.ts
  frontend/tests/e2e/measurement-export.spec.ts
  frontend/tests/e2e/utils.ts
Due: lint_frontend, frontend_unit_tests

fixed
  frontend/src/components/MeasurementComponent.vue
Due: lint_frontend, frontend_unit_tests

extra test input
  frontend/src/components/LoginComponent.vue
  frontend/src/components/MeasurementComponent.vue
  frontend/tests/unit/loginComponentTest.spec.ts
Due: lint_frontend, frontend_unit_tests

add test for filter panel component
  frontend/src/components/FilterPanelComponent.vue
  frontend/tests/unit/ExportView/ExportView.spec.ts
  frontend/tests/unit/ExportView/FilterPanelComponent.spec.ts
Due: lint_frontend, frontend_unit_tests

Create component and composable to create graphs on the frontend
  frontend/src/components/DataAnalyticsComponent.vue
  frontend/src/composables/DataVisualizationLogic.ts
Due: lint_frontend, frontend_unit_tests

Add data analytics to map view, refactor refs, fix mobile css
  frontend/src/components/HexMap.vue
  frontend/src/components/MeasurementComponent.vue
  frontend/src/composables/MeasurementState.ts
  frontend/src/views/MapView.vue
Due: lint_frontend, frontend_unit_tests

Add more integration tests for measurement export page
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/FilterPanelComponent.vue
  frontend/src/components/SearchResultsComponent.vue
  frontend/src/composables/useSearch.ts
  frontend/tests/e2e/measurement-export.spec.ts
Due: build_frontend_image, lint_frontend, frontend_unit_tests

restructured files
  frontend/tests/unit/logicComponent.spec.ts
  frontend/tests/unit/loginComponentTest.spec.ts
  frontend/tests/unit/loginLogicComposable.spec.ts
Due: lint_frontend, frontend_unit_tests

Add legend, fix graphing bug, format graph container
  frontend/src/components/DataAnalyticsComponent.vue
  frontend/src/composables/DataVisualizationLogic.ts
Due: lint_frontend, frontend_unit_tests

add search bar and result tests, clean up filter panel tests
  frontend/src/components/FilterPanelComponent.vue
  frontend/src/components/SearchBarComponent.vue
  frontend/src/components/SearchResultsComponent.vue
  frontend/tests/unit/ExportComponents/FilterPanelComponent.spec.ts
  frontend/tests/unit/ExportComponents/SearchBarComponent.spec.ts
  frontend/tests/unit/ExportComponents/SearchResultsComponent.spec.ts
Due: lint_frontend, frontend_unit_tests

added test for composable and component
  frontend/src/components/FilterPanelComponent.vue
  frontend/src/composables/LoginLogic.ts
  frontend/tests/unit/logicComponent.spec.ts
  frontend/tests/unit/loginComponent.spec.ts
  frontend/tests/unit/loginLogicComposable.spec.ts
Due: lint_frontend, frontend_unit_tests

Change emitted data on hexagon click
  frontend/src/components/HexMap.vue
Due: lint_frontend, frontend_unit_tests

Add global data analytics, refactor graph generation logic
  frontend/src/components/DataAnalyticsComponent.vue
  frontend/src/composables/DataVisualizationLogic.ts
  frontend/src/views/MapView.vue
Due: lint_frontend, frontend_unit_tests

add initial internationalization on tutorial page with language switcher
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/LanguageSwitcher.vue
  frontend/src/i18n.ts
  frontend/src/main.ts
  frontend/src/views/TutorialView.vue
Due: build_frontend_image, lint_frontend, frontend_unit_tests

fixed rts trees
  docs/ts/modules.md
  docs/vue-components/modules.md
  docs/vue-views/modules.md
  generate_doc.sh
Due: none

fix duplicate expose
  frontend/src/components/FilterPanelComponent.vue
Due: lint_frontend, frontend_unit_tests

fialed test
  frontend/tests/unit/ExportComponents/FilterPanelComponent.spec.ts
Due: lint_frontend, frontend_unit_tests

add json locales and internationalization to tutorial
  frontend/src/i18n.ts
  frontend/src/locales/en.json
  frontend/src/locales/template.json
  frontend/src/views/TutorialView.vue
  frontend/tsconfig.app.json
Due: lint_frontend, frontend_unit_tests

Add serializers and views for aggregated measurement analysis
  backend/measurement_analysis/serializers.py
  backend/measurement_analysis/urls.py
  backend/measurement_analysis/views.py
  backend/measurements/urls.py
Due: lint_backend, backend_unit_tests

Add export_all_view to measurement_export and integrate with measurement_view
  backend/measurement_export/views.py
  backend/measurements/views.py
Due: lint_backend, backend_unit_tests

Add more integration tests for measurement export page; change playwright config to minimize flakiness
  frontend/package-lock.json
  frontend/package.json
  frontend/playwright.config.ts
  frontend/src/components/SearchResultsComponent.vue
  frontend/tests/e2e/measurement-component.spec.ts
  frontend/tests/e2e/measurement-export.spec.ts
Due: build_frontend_image, lint_frontend, frontend_unit_tests

Modify readme, contribution, and troubleshooting guide to incorporate test setup
  README.md
  docs/contribution_guide.md
  docs/troubleshooting.md
Due: none

Add tests for measurement aggregation and export of dataset with bounding_geometry
  backend/measurement_analysis/serializers.py
  backend/measurement_analysis/tests.py
  backend/measurement_analysis/tests/__init__.py
  backend/measurement_analysis/tests/tests_measurement_aggregation.py
  backend/measurement_analysis/tests/tests_serializers.py
Due: lint_backend, backend_unit_tests

add large file storage setup for pngs
  .gitattributes
Due: none

add initial website tutorial steps and save images to large file storage
  frontend/src/assets/burger-bar.png
  frontend/src/locales/en.json
  frontend/src/locales/template.json
  frontend/src/views/TutorialView.vue
Due: lint_frontend, frontend_unit_tests

add images and image section for adding measurement tutorial
  frontend/src/assets/add-measurement-page.png
  frontend/src/assets/add-measurement-tutorial.png
  frontend/src/components/Text/SectionFlex.vue
  frontend/src/locales/en.json
  frontend/src/locales/template.json
  frontend/src/views/TutorialView.vue
Due: lint_frontend, frontend_unit_tests

add images for exporting on website tutorial and update template
  frontend/src/assets/download-export.png
  frontend/src/assets/filters.png
  frontend/src/components/Text/SectionFlex.vue
  frontend/src/locales/en.json
  frontend/src/locales/template.json
  frontend/src/views/TutorialView.vue
Due: lint_frontend, frontend_unit_tests

Enhance HexMap functionality and integrate measurement data fetching in MapView
  frontend/src/components/HexMap.vue
  frontend/src/views/MapView.vue
Due: lint_frontend, frontend_unit_tests

update serializers test
  backend/measurement_analysis/tests/tests_serializers.py
Due: lint_backend, backend_unit_tests

Change file permissions for test-reset-db.sh and test-setup.sh to make them executable
  test-reset-db.sh
  test-setup.sh
Due: none

add api tutorial text and markdown support
  frontend/package-lock.json
  frontend/package.json
  frontend/src/locales/en.json
  frontend/src/locales/template.json
  frontend/src/views/TutorialView.vue
Due: build_frontend_image, lint_frontend, frontend_unit_tests

Clarify ambiguities relating to test setup in docs, fix flakiness of searching for measurements, and change setup script to consider relative path
  README.md
  docs/contribution_guide.md
  frontend/tests/e2e/measurement-export.spec.ts
  test-reset-db.sh
  test-setup.sh
Due: lint_frontend, frontend_unit_tests

add images for map navigation, add internationalization placeholders for app and taking physical measurement
  frontend/src/assets/data-analysis.png
  frontend/src/assets/graph-legend.png
  frontend/src/locales/en.json
  frontend/src/locales/template.json
  frontend/src/views/TutorialView.vue
Due: lint_frontend, frontend_unit_tests

add scrolling for mobile viewing tutorial page
  frontend/src/views/TutorialView.vue
Due: lint_frontend, frontend_unit_tests

replace glass-probe with digital-thermometer
  frontend/src/locales/en.json
Due: lint_frontend, frontend_unit_tests

Fix package.json
  frontend/package-lock.json
Due: build_frontend_image, lint_frontend, frontend_unit_tests
