Repository rtaormina/waterwatch: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_backend_image, build_frontend_image, lint_backend, lint_frontend, backend_unit_tests, frontend_unit_tests

build_backend_image:
  stage: build_images
  image: docker:latest
  services:
  - docker:dind
  script:
  - echo $CI_REGISTRY_PASSWORD | docker login -u $CI_REGISTRY_USER --password-stdin $CI_REGISTRY
  - docker build -f dockerfile.backend -t $CI_REGISTRY_IMAGE:v0.2-backend .
  - docker push $CI_REGISTRY_IMAGE:v0.2-backend

build_frontend_image:
  stage: build_images
  image: docker:latest
  services:
  - docker:dind
  script:
  - echo $CI_REGISTRY_PASSWORD | docker login -u $CI_REGISTRY_USER --password-stdin $CI_REGISTRY
  - docker build -f dockerfile.frontend -t $CI_REGISTRY_IMAGE:v0.2-frontend .
  - docker push $CI_REGISTRY_IMAGE:v0.2-frontend

lint_backend:
  stage: linting
  image: ghcr.io/astral-sh/ruff:0.11.8-alpine
  script:
  - ruff check
  - ruff format --diff

lint_frontend:
  image: $CI_REGISTRY_IMAGE:v0.2-frontend
  before_script:
  - cd frontend
  - ln -s /dependencies/node_modules ./node_modules
  - cp /dependencies/package-lock.json ./
  stage: linting
  script:
  - npm run lint

backend_unit_tests:
  stage: testing
  image: $CI_REGISTRY_IMAGE:v0.2-backend
  services:
  - name: postgis/postgis:latest
    alias: postgis
  variables:
    POSTGRES_HOST: postgis
  script:
  - cd backend
  - python -m coverage run manage.py test
  - python -m coverage report
  - python -m coverage xml
  coverage: /TOTAL.*\s+(\d+%)$/
  ...

frontend_unit_tests:
  image: $CI_REGISTRY_IMAGE:v0.2-frontend
  before_script:
  - cd frontend
  - ln -s /dependencies/node_modules ./node_modules
  - cp /dependencies/package-lock.json ./
  stage: testing
  script:
  - npm run test:coverage
  coverage: /All files(?:[^|]*\|){4}\s*(\S+)/
  artifacts:
    expire_in: 3 days
    reports:
  ...

Hook the data analytics up with data from the database
  frontend/src/components/DataAnalyticsComponent.vue
  frontend/src/components/HexMap.vue
  frontend/src/views/MapView.vue
Due: lint_frontend, frontend_unit_tests

Add tests for non-aggregated data on the api
  backend/measurement_analysis/tests/tests_measurement_aggregation.py
Due: lint_backend, backend_unit_tests

Fix package-lock.json
  frontend/package-lock.json
Due: build_frontend_image, lint_frontend, frontend_unit_tests

Reorganize test directory
  frontend/src/views/TutorialView.vue
  frontend/tests/unit/ComponentTests/ExportComponents/FilterPanelComponent.spec.ts
  frontend/tests/unit/ComponentTests/ExportComponents/SearchBarComponent.spec.ts
  frontend/tests/unit/ComponentTests/ExportComponents/SearchResultsComponent.spec.ts
  frontend/tests/unit/ComponentTests/LoginComponent/LoginComponentTest.spec.ts
  frontend/tests/unit/ComponentTests/MeasurementComponent/MeasurementComponent.spec.ts
  frontend/tests/unit/ComponentTests/TextComponents/TextSection.spec.ts
  frontend/tests/unit/ComponentTests/TextComponents/TextSectionSplit.spec.ts
  frontend/tests/unit/ComponentTests/TextComponents/TextSubSection.spec.ts
  frontend/tests/unit/ComposableTests/CampaignBannerLogicTest.spec.ts
  frontend/tests/unit/ComposableTests/LocationFallbackComposable.spec.ts
  frontend/tests/unit/ComposableTests/MeasurementCollectionLogicTest.spec.ts
  frontend/tests/unit/ComposableTests/MeasurementExportLogicTests.spec.ts
Due: lint_frontend, frontend_unit_tests

Remove warnings for ignored files
  .pre-commit-config.yaml
Due: none

Add tests for data visualization logic
  frontend/src/composables/DataVisualizationLogic.ts
  frontend/tests/unit/ComposableTests/AnalyticsLogicTests.spec.ts
Due: lint_frontend, frontend_unit_tests

Update Docker Compose and Nginx configuration for improved health checks and SSL support
  production/docker-compose.prod.yaml
  production/production.nginx
Due: none

add legend to map
  frontend/src/components/HexMap.vue
  frontend/src/components/Legend.vue
  frontend/src/views/MapView.vue
  frontend/src/views/TutorialView.vue
Due: lint_frontend, frontend_unit_tests

add test for legend and update image to be from actual website instad of mockup
  frontend/src/assets/graph-legend.png
  frontend/tests/unit/ComponentTests/MapComponents/LegendComponentTest.spec.ts
Due: lint_frontend, frontend_unit_tests

Add tests for DataAnalyticsComponent
  frontend/src/components/DataAnalyticsComponent.vue
  frontend/tests/unit/ComponentTests/DataAnalyticsComponent/DataAnalyticsTests.spec.ts
Due: lint_frontend, frontend_unit_tests

Add dutch language to language options
  frontend/src/i18n.ts
  frontend/src/locales/en.json
  frontend/src/locales/nl.json
Due: lint_frontend, frontend_unit_tests

Add Let's Encrypt SSL certificate volume to Nginx configuration
  production/docker-compose.prod.yaml
Due: none

Refactor superuser and researcher creation to use environment variables for more secure deployement
  backend/campaigns/management/commands/groups.py
  production/.env.sample
Due: lint_backend, backend_unit_tests

Update Nginx configuration for improved performance and SSL support
  production/production.nginx
Due: none

Update Nginx and Docker Compose configurations for improved SSL certificate handling
  production/docker-compose.prod.yaml
  production/production.nginx
Due: none

make documentation render properly from /docs
  production/dockerfile.frontend.prod
Due: none

fix comments on mapview
  frontend/src/views/MapView.vue
Due: lint_frontend, frontend_unit_tests

add geq and leq
  frontend/src/components/Legend.vue
Due: lint_frontend, frontend_unit_tests

fix failing test
  frontend/tests/unit/ComponentTests/MapComponents/LegendComponentTest.spec.ts
Due: lint_frontend, frontend_unit_tests

fixed packages
  frontend/package-lock.json
Due: build_frontend_image, lint_frontend, frontend_unit_tests

fixed issues
  docs/ts/README.md
  docs/ts/modules.md
  docs/ts/useSearch/functions/useSearch.md
  docs/vue-components/modules.md
  docs/vue-components/src/components/CampaignBannerComponent.md
  docs/vue-components/src/components/FilterPanelComponent.md
  docs/vue-components/src/components/HexMap.md
  docs/vue-components/src/components/LanguageSwitcher.md
  docs/vue-components/src/components/LocationFallback.md
  docs/vue-components/src/components/LoginComponent.md
  docs/vue-components/src/components/MeasurementComponent.md
  docs/vue-components/src/components/Modal.md
  docs/vue-components/src/components/NavBar.md
  docs/vue-components/src/components/SearchBarComponent.md
  docs/vue-components/src/components/SearchResultsComponent.md
  docs/vue-components/src/components/Text/Section.md
  docs/vue-components/src/components/Text/SectionFlex.md
  docs/vue-components/src/components/Text/SectionSplit.md
  docs/vue-components/src/components/Text/SubSection.md
  docs/vue-components/src/components/Text/Tabs.md
  docs/vue-views/modules.md
  docs/vue-views/src/views/AboutView.md
  docs/vue-views/src/views/ExportView.md
  docs/vue-views/src/views/MapView.md
  docs/vue-views/src/views/TutorialView.md
  frontend/generate_doc.sh
Due: lint_frontend, frontend_unit_tests

delete unused file
  frontend/API.md
Due: lint_frontend, frontend_unit_tests

Change padding of sidebar on mobile
  frontend/src/components/DataAnalyticsComponent.vue
  frontend/src/components/MeasurementComponent.vue
  frontend/src/composables/DataVisualizationLogic.ts
  frontend/src/views/MapView.vue
Due: lint_frontend, frontend_unit_tests

Add backend functionality to add presets in the admin console and get them from the api
  backend/backend/settings.py
  backend/measurement_export/admin.py
  backend/measurement_export/migrations/0005_alter_preset_filters.py
  backend/measurement_export/models.py
  backend/measurement_export/static/measurement_export/css/preset_admin.css
  backend/measurement_export/static/measurement_export/js/preset_admin.js
  backend/measurement_export/views.py
Due: lint_backend, backend_unit_tests

Make tabs computed so they update reactively
  frontend/src/locales/nl.json
  frontend/src/views/TutorialView.vue
Due: lint_frontend, frontend_unit_tests

Fix leafet marker not showing up in production.
  frontend/src/composables/LocationFallback.ts
Due: lint_frontend, frontend_unit_tests

add popup when clicking hexagon with average and number of measurements
  frontend/src/components/HexAnalysis.vue
  frontend/src/components/HexMap.vue
  frontend/src/views/MapView.vue
Due: lint_frontend, frontend_unit_tests

fix commit on wrong branch
  frontend/src/composables/LocationFallback.ts
Due: lint_frontend, frontend_unit_tests

add min and max temp to hexagon click overview
  backend/measurement_analysis/serializers.py
  backend/measurement_analysis/views.py
  frontend/src/components/HexAnalysis.vue
  frontend/src/components/HexMap.vue
  frontend/src/views/MapView.vue
Due: lint_backend, lint_frontend, backend_unit_tests, frontend_unit_tests

Make marker show in production
  frontend/src/composables/LocationFallback.ts
  frontend/tests/unit/ComposableTests/LocationFallbackComposable.spec.ts
Due: lint_frontend, frontend_unit_tests

Remove hardcoded marker icon URLs from createMarker function
  frontend/src/composables/LocationFallback.ts
Due: lint_frontend, frontend_unit_tests

add hex analysis test and fix bugs
  frontend/src/components/HexAnalysis.vue
  frontend/tests/unit/ComponentTests/MapComponents/HexAnalysisComponentTest.spec.ts
Due: lint_frontend, frontend_unit_tests

Add authentication to the export endpoint on the backend
  backend/measurement_collection/tests/test_extra_metric_table.py
  backend/measurement_export/tests/tests_measurement_export.py
  backend/measurement_export/views.py
Due: lint_backend, backend_unit_tests

Make search results reset if the user leaves the page
  frontend/src/components/FilterPanelComponent.vue
Due: lint_frontend, frontend_unit_tests

fix lint errors in frontend and backend
  backend/measurement_analysis/views.py
  frontend/src/components/HexAnalysis.vue
  frontend/src/components/HexMap.vue
  frontend/src/views/MapView.vue
Due: lint_backend, lint_frontend, backend_unit_tests, frontend_unit_tests

fix backend tests
  backend/measurement_analysis/tests/tests_serializers.py
Due: lint_backend, backend_unit_tests

fix backend formatting
  backend/measurement_analysis/tests/tests_serializers.py
Due: lint_backend, backend_unit_tests

Change search bar in export page to Nuxt components, add functionality to search and select presets in export page
  frontend/package-lock.json
  frontend/src/components/FilterPanelComponent.vue
  frontend/src/components/SearchBarComponent.vue
  frontend/src/components/SearchResultsComponent.vue
  frontend/src/composables/usePresets.ts
  frontend/src/views/ExportView.vue
  frontend/vitest.config.js
Due: build_frontend_image, lint_frontend, frontend_unit_tests

tests navbar
  frontend/src/components/NavBar.vue
  frontend/tests/unit/ComponentTests/NavBarComponent/NavBarComponent.spec.ts
Due: lint_frontend, frontend_unit_tests

Path conditions:
  build_backend_image: any of: requirements/**/*, dockerfile.backend
  build_frontend_image: any of: frontend/package.json, frontend/package-lock.json, dockerfile.frontend
  lint_backend: any of: backend/**/*
  lint_frontend: any of: frontend/**/*
  backend_unit_tests: any of: backend/**/*
  frontend_unit_tests: any of: frontend/**/*
