Repository rtaormina/waterwatch: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_backend_image, build_frontend_image, lint_backend, lint_frontend, backend_unit_tests, frontend_unit_tests

build_backend_image:
  stage: build_images
  image: docker:latest
  services:
  - docker:dind
  script:
  - echo $CI_REGISTRY_PASSWORD | docker login -u $CI_REGISTRY_USER --password-stdin $CI_REGISTRY
  - docker build -f dockerfile.backend -t $CI_REGISTRY_IMAGE:v0.2-backend .
  - docker push $CI_REGISTRY_IMAGE:v0.2-backend

build_frontend_image:
  stage: build_images
  image: docker:latest
  services:
  - docker:dind
  script:
  - echo $CI_REGISTRY_PASSWORD | docker login -u $CI_REGISTRY_USER --password-stdin $CI_REGISTRY
  - docker build -f dockerfile.frontend -t $CI_REGISTRY_IMAGE:v0.2-frontend .
  - docker push $CI_REGISTRY_IMAGE:v0.2-frontend

lint_backend:
  stage: linting
  image: ghcr.io/astral-sh/ruff:0.11.8-alpine
  script:
  - ruff check
  - ruff format --diff

lint_frontend:
  image: $CI_REGISTRY_IMAGE:v0.2-frontend
  before_script:
  - cd frontend
  - ln -s /dependencies/node_modules ./node_modules
  - cp /dependencies/package-lock.json ./
  stage: linting
  script:
  - npm run lint

backend_unit_tests:
  stage: testing
  image: $CI_REGISTRY_IMAGE:v0.2-backend
  services:
  - name: postgis/postgis:latest
    alias: postgis
  variables:
    POSTGRES_HOST: postgis
  script:
  - cd backend
  - python -m coverage run manage.py test
  - python -m coverage report
  - python -m coverage xml
  coverage: /TOTAL.*\s+(\d+%)$/
  ...

frontend_unit_tests:
  image: $CI_REGISTRY_IMAGE:v0.2-frontend
  before_script:
  - cd frontend
  - ln -s /dependencies/node_modules ./node_modules
  - cp /dependencies/package-lock.json ./
  stage: testing
  script:
  - npm run test:coverage
  coverage: /All files(?:[^|]*\|){4}\s*(\S+)/
  artifacts:
    expire_in: 3 days
    reports:
  ...

Change endpoint to only return values not full Measurement objects
  backend/measurement_analysis/tests/tests_measurement_aggregation.py
  backend/measurement_export/views.py
Due: lint_backend, backend_unit_tests

Redesign how data analytics component gets the data to match new endpoint
  frontend/src/components/DataAnalyticsComponent.vue
  frontend/src/views/MapView.vue
  frontend/tests/unit/ComponentTests/DataAnalyticsComponent/DataAnalyticsTests.spec.ts
Due: lint_frontend, frontend_unit_tests

Added backend tests for presets: serializer, view, and admin form
  backend/measurement_export/admin.py
  backend/measurement_export/tests/tests_presets.py
Due: lint_backend, backend_unit_tests

Add tests for authorization on export endpoint
  backend/measurement_export/tests/tests_measurement_export.py
  backend/measurement_export/views.py
Due: lint_backend, backend_unit_tests

add select multiple consecutive hexagon functionality
  frontend/src/components/HexMap.vue
  frontend/src/views/MapView.vue
Due: lint_frontend, frontend_unit_tests

fix documentation
  frontend/src/components/HexMap.vue
  frontend/src/views/MapView.vue
Due: lint_frontend, frontend_unit_tests

Fix type script errors in DataAnalyticsComponent.vue, DataVisualizationLogic.ts, and MapView.vue
  frontend/src/components/DataAnalyticsComponent.vue
  frontend/src/components/HexMap.vue
  frontend/src/composables/DataVisualizationLogic.ts
  frontend/src/views/MapView.vue
Due: lint_frontend, frontend_unit_tests

Refactor Dockerfile to use npm ci for dependency installation in frontend build so dependencies are stored in cached layer
  production/dockerfile.frontend.prod
Due: none

Add deployment scripts and Docker Compose configuration for production environment
  production/deploy.sh
  production/docker-compose.prod.stack.yaml
Due: none

Add component and composable tests for preset-related functionalities
  frontend/src/components/FilterPanelComponent.vue
  frontend/src/components/SearchBarComponent.vue
  frontend/src/composables/usePresets.ts
  frontend/src/views/MapView.vue
  frontend/tests/unit/ComponentTests/ExportComponents/FilterPanelComponent.spec.ts
  frontend/tests/unit/ComponentTests/ExportComponents/SearchBarComponent.spec.ts
  frontend/tests/unit/ComposableTests/PresetLogic.spec.ts
Due: lint_frontend, frontend_unit_tests

Remove debug console logs in preset_admin.js; make it so that hovering over x button in search bar turns mouse into pointer
  backend/measurement_export/static/measurement_export/js/preset_admin.js
  frontend/src/components/SearchBarComponent.vue
Due: lint_backend, lint_frontend, backend_unit_tests, frontend_unit_tests

Fixed linting issue with logger
  backend/measurement_export/views.py
Due: lint_backend, backend_unit_tests

Fix failing component test
  frontend/tests/unit/ComponentTests/ExportComponents/FilterPanelComponent.spec.ts
Due: lint_frontend, frontend_unit_tests

add deployment to pipeline
  .gitlab-ci.yml
Due: none

migrate before redeployement of backend app.
  production/docker-compose.prod.stack.yaml
Due: none

Change admin view for adding preset to clearly distinguish metrics
  backend/measurement_export/admin.py
Due: lint_backend, backend_unit_tests

Enhance deployment scripts and Docker Compose configuration for improved reliability and migration handling
  production/deploy.sh
  production/docker-compose.prod.stack.yaml
Due: none

Update deployment scripts to ensure stack deployment waits for completion and adjust service start order
  production/deploy.sh
  production/docker-compose.prod.stack.yaml
Due: none

Remove unnecessary deployment configurations for services in Docker Compose
  production/docker-compose.prod.stack.yaml
Due: none

fix frontend tests
  frontend/src/components/DataAnalyticsComponent.vue
  frontend/tests/unit/ComponentTests/DataAnalyticsComponent/DataAnalyticsTests.spec.ts
Due: lint_frontend, frontend_unit_tests

added network error
  frontend/src/composables/LoginLogic.ts
Due: lint_frontend, frontend_unit_tests

added test for network error
  frontend/tests/unit/ComposableTests/LoginLogicComposable.spec.ts
Due: lint_frontend, frontend_unit_tests

Refactor deployment and setup scripts for improved reliability and consistency
  production/deploy.sh
  production/setup.sh
Due: none

Add ContactView component and route for contact information
  frontend/src/router/index.ts
  frontend/src/views/ContactView.vue
Due: lint_frontend, frontend_unit_tests

Add health check endpoint and corresponding test cases
  backend/api/tests.py
  backend/api/urls.py
  backend/api/views.py
Due: lint_backend, backend_unit_tests

fix buttons on mobile and change tutorial page to use accordion on mobile
  frontend/src/components/MeasurementComponent.vue
  frontend/src/components/Text/Tabs.vue
  frontend/src/views/MapView.vue
  frontend/src/views/TutorialView.vue
Due: lint_frontend, frontend_unit_tests

remove commented out code
  frontend/src/views/MapView.vue
Due: lint_frontend, frontend_unit_tests

fix login/out buttons on mobile menu
  frontend/src/components/NavBar.vue
Due: lint_frontend, frontend_unit_tests

change cursor to pointer on hover for buttons and fix accordion expanding incorrectly on smaller screen sizes
  frontend/src/components/DataAnalyticsComponent.vue
  frontend/src/components/MeasurementComponent.vue
  frontend/src/views/MapView.vue
  frontend/src/views/TutorialView.vue
Due: lint_frontend, frontend_unit_tests

Add e2e tests for presets and fix discovered bugs
  backend/measurement_export/admin.py
  backend/measurement_export/static/measurement_export/js/preset_admin.js
  frontend/src/components/FilterPanelComponent.vue
  frontend/src/components/SearchBarComponent.vue
  frontend/tests/e2e/export-presets.spec.ts
  frontend/tests/e2e/measurement-export.spec.ts
  frontend/tests/e2e/utils.ts
Due: lint_backend, lint_frontend, backend_unit_tests, frontend_unit_tests

Fix links and styling in ContactView component
  frontend/src/views/ContactView.vue
Due: lint_frontend, frontend_unit_tests

Fix failing tests due to changes in data-testids and admin.py validation
  backend/measurement_export/tests/tests_presets.py
  frontend/tests/unit/ComponentTests/ExportComponents/FilterPanelComponent.spec.ts
Due: lint_backend, lint_frontend, backend_unit_tests, frontend_unit_tests

Allow selection of non-adjacent hexagons
  frontend/src/components/HexMap.vue
Due: lint_frontend, frontend_unit_tests

Update healthcheck configurations for services in docker-compose files
  docker-compose.test.yaml
  docker-compose.yaml
  production/docker-compose.prod.stack.yaml
  production/docker-compose.prod.yaml
Due: none

Ensure map shows 1 Measurement and not 1 Measurements
  frontend/src/components/HexAnalysis.vue
Due: lint_frontend, frontend_unit_tests

remove unnecessary account buttons, modify login and export to work on landscape
  frontend/src/components/FilterPanelComponent.vue
  frontend/src/components/LoginComponent.vue
  frontend/src/components/NavBar.vue
  frontend/src/components/SearchResultsComponent.vue
  frontend/src/views/ExportView.vue
Due: lint_frontend, frontend_unit_tests

increase filter width on landscape screen
  frontend/src/views/ExportView.vue
Due: lint_frontend, frontend_unit_tests

make adding measurement panel larger on landscape
  frontend/src/views/MapView.vue
Due: lint_frontend, frontend_unit_tests

moved test into test folder
  backend/api/tests/health_tests.py
Due: lint_backend, backend_unit_tests

update ssh setup in deployement job
  .gitlab-ci.yml
Due: none

Path conditions:
  build_backend_image: any of: requirements/**/*, dockerfile.backend
  build_frontend_image: any of: frontend/package.json, frontend/package-lock.json, dockerfile.frontend
  lint_backend: any of: backend/**/*
  lint_frontend: any of: frontend/**/*
  backend_unit_tests: any of: backend/**/*
  frontend_unit_tests: any of: frontend/**/*
